<template>
  <div class="header">
    <div class="container">
      <div class="header__inner">
        <nuxt-link to="/" class="header__logo">
          <!-- <svg-icon name="logo" /> -->
          <img src="/logo.svg" alt="">
        </nuxt-link>
        <div class="header__content">
          <div class="header__search">
            <BaseSearch />
          </div>
          <div class="header__menu">
            <Menu />
          </div>
          <div class="header__user" v-if="user">
            <Balance />
          </div>
          <div class="header__user" :class="{ active: !user }" v-else>
            <AuthButton />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.state.user
    },
    path() {
      return this.$route.fullPath
    },
  },
}
</script>

<style lang="scss" scoped>
.header {
  padding: 16px 0;
  border-bottom: 1px solid $gray;
  backdrop-filter: blur(5px);
  // background-color: rgba(20, 20, 31, 0.233);
  background-color: $background-second;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.plug {
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__search {
    max-width: 422px;

    @media (max-width: $s) {
      display: none;
    }
  }

  &__logo {
    & > img {
      @media (max-width: $s) {
      width: 130px;
    }
    }

  }

  &__icon {
    width: 34px;
    height: 34px;
    border-bottom: 1px solid $white;
  }

  &__icon-wallet {
    width: 20px;
    height: 20px;
    fill: $white;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
</style>
