<template>
  <div class="input">
    <p class="input__name" v-if="label">{{ label }}</p>
    <p class="input__description" v-if="description">{{ description }}</p>
    <textarea
      class="input__value is-area"
      v-if="area"
      v-model="content"
      @input="handleInput"
      :placeholder="placeholderText"
    ></textarea>
    <input
      v-bind="$attrs"
      v-else
      class="input__value"
      :class="{ 'is-icon': icon }"
      :type="inputType"
      :placeholder="placeholderText"
      :value="valueText"
      v-model="content"
      @input="handleInput"
    />
    <svg-icon class="input__icon" v-if="icon" :name="icon" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

declare interface BaseComponentData {
  content: string
}

export default Vue.extend({
  inheritAttrs: false,
  props: {
    label: {
      type: String,
    },
    description: {
      type: String,
    },
    inputType: {
      type: String,
      default: 'text',
    },
    icon: {
      type: String,
    },
    area: {
      type: Boolean,
      default: false,
    },
    scheme: {
      type: String,
      default: '',
    },
    placeholderText: {
      type: String,
      default: '',
    },
    valueText: {
      default: '',
    },
  },
  data(): BaseComponentData {
    return {
      content: this.valueText,
    }
  },
  watch: {
    valueText(value) {
      this.content = value
    },
  },
  methods: {
    handleInput() {
      this.$emit('input', this.content)
    },
  },
})
</script>
<style lang="scss" scoped>
.input {
  width: 100%;
  position: relative;

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: block;
    margin-bottom: 20px;
  }

  &__description {
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: $white-2;
    margin-bottom: 5px;
  }

  &__value {
    background: none;
    width: 100%;
    border: 2px solid $black;
    border-radius: 8px;
    padding: 13px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $black;
    font-family: 'Poppins', sans-serif;
    outline: none;
    transition: ease border-color 0.3s;

    &::placeholder {
      color: $white-2;
    }

    &.is-area {
      resize: none;
      min-height: 120px;
    }

    &:hover {
      border-color: $white-2;
    }
    &:focus {
      outline: 1px solid $primary;
      border-color: $primary;
    }
    &.is-icon {
      padding-left: 48px;
    }
  }

  &__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    fill: $black;
    left: 18px;
    top: 15px;
  }
}
</style>
