<template>
  <div class="preview">
    <div class="preview__header">
      <p class="preview__title">{{ title }}</p>
      <p class="preview__description">{{ description }}</p>
    </div>
    <div class="preview__body" :class="{ fill: previewSrc }">
      <input
        type="file"
        class="preview__input"
        @change="uploadFile($event.target.files)"
      />
      <img
        loading="lazy"
        :src="previewSrc"
        v-if="previewSrc && type.indexOf('image') !== -1"
        alt=""
        class="preview__image"
      />
      <video
        v-if="previewSrc && type.indexOf('video') !== -1"
        name="media"
        autoplay
        controls
        controlslist="nodownload"
        loop
        preload="auto"
        class="preview__content"
        :src="previewSrc"
        :type="type"
      ></video>
      <audio
        v-if="previewSrc && type.indexOf('audio') !== -1"
        controls
        :src="previewSrc"
        class="preview__content"
      ></audio>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

declare interface BaseComponentData {
  previewSrc: string
  type: any
}

export default Vue.extend({
  props: {
    small: {
      type: Boolean,
    },
    title: {
      type: String,
    },
    description: {
      type: String,
    },
    src: {
      type: String,
      default: '',
    },
  },
  data(): BaseComponentData {
    return {
      previewSrc: this.src,
      type: null,
    }
  },
  methods: {
    uploadFile(file: any) {
      if (file.length) {
        this.type = file[0].type
        this.previewSrc = URL.createObjectURL(file[0])
        this.$emit('uploadFile', file[0])
      }
    },
  },
})
</script>

<style lang="scss" scoped>
.preview {
  flex-shrink: 0;
  &__content {
    width: calc(100% - 10px);
    left: 5px;
    top: 5px;
    position: absolute;
    z-index: 4;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    color: #344054;
    display: block;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 12px;
    color: #344054;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 10px;
  }

  &__body {
    position: relative;
    width: 100%;
    background-color: $background-second;
    border-radius: 20px;
    width: 300px;
    height: 152px;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      left: 10px;
      top: 10px;
      border-radius: 15px;
      background-image: url('../../static/icons/image-upload.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px;
      transition: ease background-color 0.3s;
      background-color: #7a798a;
      z-index: 1;
    }

    &:hover {
      &::before {
        background-color: #7a798a;
      }
    }

    &.fill {
      &::before {
        background-image: none;
      }
    }
  }

  &__image {
    object-fit: scale-down;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    left: 10px;
    top: 10px;
    position: absolute;
    z-index: 1;
  }

  &__input {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
}
</style>
