<template>
  <div class="input">
    <p class="input__name" v-if="label">{{ label }}</p>
    <p class="input__description" v-if="description">{{ description }}</p>
    <div class="input__list">
      <div class="input__item" :class="{ checked: content == 1 }">
        <input
          class="input__input"
          type="radio"
          value="1"
          v-model="content"
          name="1"
          @input="handleInput"
        />
        <div class="input__content">
          <p class="input__text">SOL</p>
        </div>
      </div>
      <div class="input__item" :class="{ checked: content == 2 }">
        <input
          class="input__input"
          type="radio"
          value="2"
          v-model="content"
          name="1"
          @input="handleInput"
        />
        <div class="input__content">
          <p class="input__text">USD</p>
        </div>
      </div>
      <div class="input__item" :class="{ checked: content == 3 }">
        <input
          class="input__input"
          type="radio"
          value="3"
          v-model="content"
          name="1"
          @input="handleInput"
        />
        <div class="input__content">
          <p class="input__text">Token</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
    },
    description: {
      type: String,
    },
  },

  data() {
    return {
      content: 1,
    }
  },
  watch: {
    valueText(value) {
      this.content = value
    },
  },
  methods: {
    handleInput() {
      this.$emit('input', this.content)
    },
  },
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;

  &__name {
    font-weight: 600;
    font-size: 14px;
    color: #344054;
    display: block;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 12px;
    color: #344054;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 5px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__item {
    width: 100%;
    height: 46px;
    border-radius: 8px;
    background-color: $background-second;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    &.checked {
      background-color: $white;
      color: $background-second;
    }
  }

  &__input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    transition: border 0.3s ease;
    border-radius: 4px;
    background: none;
    appearance: none;
  }

  &__content {
    border-radius: 4px;
    top: 3px;
    left: 3px;
  }
}
</style>
