<template>
  <div class="input">
    <div class="input__list">
      <div class="input__item">
        <input
          class="input__input"
          type="radio"
          value="1"
          v-model="content"
          name="1"
          @input="handleInput"
        />
        <div class="input__content">
          <div class="input__images">
            <img loading="lazy" src="/display-left.svg" />
            <img loading="lazy" src="/display-left.svg" />
            <img loading="lazy" src="/display-left.svg" />
          </div>
          <p class="input__text">All Margin</p>
          <div class="input__check" :class="{ checked: content == 1 }"></div>
        </div>
      </div>
      <div class="input__item">
        <input
          class="input__input"
          type="radio"
          value="2"
          v-model="content"
          name="1"
          @input="handleInput"
        />
        <div class="input__content">
          <div class="input__images">
            <img loading="lazy" src="/display-left.svg" />
            <img loading="lazy" src="/display-left.svg" />
            <img loading="lazy" src="/display-left.svg" />
          </div>
          <p class="input__text">Left /Right margin</p>
          <div class="input__check" :class="{ checked: content == 2 }"></div>
        </div>
      </div>
      <div class="input__item">
        <input
          class="input__input"
          type="radio"
          value="3"
          v-model="content"
          name="1"
          @input="handleInput"
        />
        <div class="input__content">
          <div class="input__images">
            <img loading="lazy" src="/display-left.svg" />
            <img loading="lazy" src="/display-left.svg" />
            <img loading="lazy" src="/display-left.svg" />
          </div>
          <p class="input__text">No margin</p>
          <div class="input__check" :class="{ checked: content == 3 }"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
    },
    description: {
      type: String,
    },
  },

  data() {
    return {
      content: 1,
    }
  },
  watch: {
    valueText(value) {
      this.content = value
    },
  },
  methods: {
    handleInput() {
      this.$emit('input', this.content)
    },
  },
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  padding: 0 24px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
  }

  &__item {
    width: 100%;
    height: 224px;
    border-radius: 20px;
    background-color: $background-second;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  &__input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    transition: border 0.3s ease;
    border-radius: 4px;
    background: none;
    appearance: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  &__images {
    display: flex;
    gap: 16px;
  }

  &__check {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid $white;

    &.checked {
      background-color: $primary;
    }
  }
}
</style>
