<template>
  <div class="preview-settings">
    <p class="preview-settings__title">{{ title }}</p>
    <div class="preview-settings__image-input" :class="{ wide }">
      <div class="preview-settings__input-text" v-if="!src">
        <img loading="lazy" src="/icons/pen.svg" alt="" />
        <p class="preview-settings__text">
          {{ wide ? '1400 X 1400' : '350 X 350' }}
        </p>
      </div>
      <input
        type="file"
        class="preview-settings__input"
        @change="uploadFile($event.target.files)"
      />
      <img
        loading="lazy"
        :src="previewSrc"
        v-if="previewSrc"
        alt=""
        class="preview-settings__image"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    wide: {
      type: Boolean,
    },
    title: {
      type: String,
    },
    src: {
      type: String,
    },
  },
  data() {
    return {
      previewSrc: this.src || null,
    }
  },
  methods: {
    uploadFile(file) {
      if (file.length) {
        this.previewSrc = URL.createObjectURL(file[0])
        this.$emit('uploadFile', file[0])
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.preview-settings {
  &__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__image-input {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 180px;
    height: 180px;
    background-color: #7a798a;

    &.wide {
      width: 350px;
    }
  }

  &__image {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }

  &__input {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__input-text {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 17px;
  }
}
</style>
