<template>
  <div class="profile-header">
    <div class="profile-header__cover">
      <img
        loading="lazy"
        :src="user.profileBanner"
        alt=""
        class="profile-header__image"
      />
    </div>
    <div class="profile-header__body">
      <div class="profile-header__avatar">
        <img
          loading="lazy"
          :src="user.profileLogo"
          alt=""
          class="profile-header__image"
        />
      </div>
      <div class="profile-header__artist" v-if="user.username">
        <span class="profile-header__artist-text is-big">{{
          user.username
        }}</span>
      </div>
      <div class="profile-header__content-actions">
        <Socials :socials="socials" class="white" />
      </div>
      <div class="profile-header__artist">
        <span class="profile-header__wallet-text">{{
          user.wallet.address
        }}</span>
      </div>

      <div class="profile-header__description">
        <p class="profile-header__description-text" v-if="user.bio">
          {{ user.bio }}
        </p>
        <p class="profile-header__description-text">Joined {{ joined.date }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { dateFormat } from '~/helpers/dateformatter'
export default {
  props: ['user', 'socials'],
  computed: {
    joined() {
      return dateFormat(this.user.joined)
    },
  },
}
</script>

<style lang="scss" scoped>
.profile-header {
  padding-bottom: 50px;
  @media (max-width: $m) {
    padding-bottom: 30px;
  }
  &__cover {
    width: 100%;
    height: 447px;
    position: relative;
    cursor: pointer;
    background-color: $background-second;
    z-index: 1;
    @media (max-width: $m) {
      height: 204px;
    }
    @media (max-width: $s) {
      height: 144px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.15);
      opacity: 0;
      z-index: 1;
      transition: ease opacity 0.3s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  &__content-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 30px;
  }
  &__avatar {
    width: 186px;
    height: 186px;
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(-50%);
    cursor: pointer;
    margin-bottom: -80px;
    background-color: $secondary;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.15);
      opacity: 0;
      z-index: 1;
      transition: ease opacity 0.3s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    @media (max-width: $s) {
      width: 96px;
      height: 96px;
      margin-bottom: -40px;
    }
  }

  &__artist {
    display: flex;
    align-items: center;
    margin-top: 30px;

    & + & {
      margin-top: 20px;
    }

    &-text {
      font-weight: 500;
      font-size: 24px;
      color: $black;
      margin-right: 5px;
      @media (max-width: $s) {
        font-size: 18px;
      }

      &.is-big {
        font-size: 28px;
        @media (max-width: $s) {
          font-size: 20px;
        }
      }
    }

    &-icon {
      width: 26px;
      height: 26px;
      color: #2063e4;
    }
  }

  &__social {
    border-radius: 26px;
    border: 1px solid $black;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 30px;
    width: 320px;

    &-name {
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: $black;
    }

    &-link {
      font-weight: 500;
      font-size: 18px;
      color: $black;
      text-decoration: none;
      text-align: center;
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    background-color: $black;
    border-radius: 26px;
    margin-top: 25px;
    @media (max-width: $s) {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px 30px;
    }
  }

  &__stat {
    text-align: center;
    padding: 16px;
    & + & {
      border-left: 1px solid #e4e7ec;
      @media (max-width: $s) {
        border-left: unset;
      }
    }

    &-value {
      font-weight: 600;
      font-size: 48px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #7f56d9;
      @media (max-width: $m) {
        border-left: unset;
        font-size: 30px;
      }
    }

    &-description {
      font-weight: 500;
      font-size: 18px;
      color: #101828;
      margin-top: 10px;
    }
  }

  &__description {
    margin-top: 30px;
    max-width: 800px;
    text-align: center;

    @media (max-width: $s) {
      margin-top: 16px;
    }

    &-text {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $black;
      @media (max-width: $s) {
        font-weight: 500;
        font-size: 16px;
      }

      & + & {
        padding-top: 32px;
        @media (max-width: $s) {
          padding-top: 16px;
        }
      }
    }
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    fill: $black;
  }

  &__wallet-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 44px;
    color: $black;
    @media (max-width: $m) {
      max-width: 105px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
</style>
