<template>
  <div class="slider-hottest">
    <div class="slider-hottest__container" ref="container">
      <div class="slider-hottest__wrapper">
        <div
          class="slider-hottest__slide"
          :class="{ blocked: !item.fromAdmin }"
          v-for="(item, index) in items"
          :key="index"
        >
          <CollectionCard :item="item" />
        </div>
      </div>
      <div class="slider-hottest__pagination" ref="pagination"></div>
    </div>
  </div>
</template>

<script>
import Swiper, { Pagination } from 'swiper'
Swiper.use(Pagination)

export default {
  props: ['items'],
  mounted() {
    new Swiper(this.$refs.container, {
      direction: 'horizontal',
      slidesPerView: 1,
      spaceBetween: 32,
      breakpoints: {
        1024: {
          slidesPerView: 3,
          spaceBetween: 27,
        },
        860: {
          slidesPerView: 2,
          spaceBetween: 94,
        },
      },
      wrapperClass: 'slider-hottest__wrapper',
      slideClass: 'slider-hottest__slide',
      pagination: {
        el: this.$refs.pagination,
        type: 'bullets',
      },
    })
  },
}
</script>

<style lang="scss" scoped>
.slider-hottest {
  overflow: hidden;

  &__wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
    &.blocked {
      display: none;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    width: 100% !important;
    justify-content: center;
    margin: 27px 0;
    gap: 16px;
  }

  ::v-deep .swiper-pagination-bullet {
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid $white;
    flex-shrink: 0;
    transition: ease background-color 0.3s;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      top: -5px;
      left: -5px;
      border: 1px solid $white;
      transform: scale(0.5);
      transition: ease transform 0.3s;
    }
  }

  ::v-deep .swiper-pagination-bullet-active {
    background-color: $white;
    &::before {
      transform: scale(1);
    }
  }
}
</style>
