<template>
  <div class="filter">
    <div class="filter__header">
      <p class="filter__title">Filter</p>
    </div>
    <div class="filter__body">
      <div class="filter__item">
        <FilterItem title="Chains">
          <div class="filter__list">
            <Checkbox checked="checked" label="SOLANA" />
          </div>
        </FilterItem>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.filter {
  width: 280px;
  position: relative;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 16px;
  }

  &__grid-item {
    border-radius: 4px;
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    color: $white;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }

  &__item {
    & + & {
      border-top: 1px solid $background-second;
    }
  }

  &__header {
    margin-bottom: 32px;
  }
}
</style>
