<template>
  <div class="filter-actions">
    <div class="filter-actions__layouts" v-if="activeTab !== 'activity'">
      <button
        class="filter-actions__layout"
        :class="{ active: activeGrid === 0 }"
        @click="toggleGrid(0)"
      >
        <div class="filter-actions__layout-icon">
          <svg-icon name="grid-small" class="filter-actions__icon-filter" />
        </div>
      </button>
      <button
        class="filter-actions__layout"
        :class="{ active: activeGrid === 1 }"
        @click="toggleGrid(1)"
      >
        <div class="filter-actions__layout-icon">
          <svg-icon name="grid-big" class="filter-actions__icon-filter" />
        </div>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    user: { type: Boolean },
  },
  data() {
    return {
      searchText: null,
      workList: [],
      recentlyList: [
        { name: 'Recently listed', value: '1' },
        { name: 'Recently Created', value: '1' },
        { name: 'Recently sold', value: '1' },
        { name: 'Ending soon', value: '1' },
        { name: 'Price low to high', value: '1' },
        { name: 'Price high to low', value: '1' },
        { name: 'Highest last sale', value: '1' },
        { name: 'Most viewed', value: '1' },
        { name: 'Most favorited', value: '1' },
        { name: 'Oldest', value: '1' },
      ],
    }
  },
  computed: {
    activeGrid() {
      return +this.$route.query.grid || 0
    },
    activeTab() {
      return this.$route.query.tab || 'artworks'
    },
  },
  methods: {
    toggleGrid(index) {
      this.$router.push({
        query: {
          ...this.$route.query,
          grid: index,
        },
      })
    },
    search() {
      this.$axios.$get(
        `/nft/items?collection=${this.$route.params.id}${
          this.$route.query.page ? '&page=' + this.$route.query.page : ''
        }search=${this.searchText}`
      )
    },
  },
  async fetch() {
    await this.$axios.$get(`/nft/categories`).then((res) => {
      this.workList = []
      this.workList.push({ name: 'All Artwork', value: 'all' })
      res.categories.forEach((element) => {
        this.workList.push({
          name: element.name,
          value: element.name,
          icon: element.image,
        })
      })
      this.categories = res.categories
    })
  },
}
</script>

<style lang="scss" scoped>
.filter-actions {
  $this: &;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;

  @media (max-width: $s) {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  &__search {
    max-width: 424px;
    border: unset;
    width: 100%;
    border-radius: 10px;
    padding: 9px 13px;
    padding-left: 40px;
    height: 46px;
    background-color: $background-second;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    outline: none;
    transition: ease border-color 0.3s;

    @media (max-width: $s) {
      max-width: 100%;
    }

    &::placeholder {
      color: $white-2;
    }

    &.is-area {
      resize: none;
    }

    &:focus {
      outline: 1px solid $primary;
      border-color: $primary;
    }
  }

  &__search-container {
    position: relative;
    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__search-icon {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 16px;
    height: 16px;
    fill: $black;
  }

  &__icon-filter {
    width: 24px;
    height: 24px;
    fill: $black;
    transition: fill 0.5s ease, transform 0.3s ease;

    &.box {
      width: 15px;
      height: 15px;
    }
  }

  &__select {
    border: none;
    background-color: $white;
    border-radius: 13px;
    width: 240px;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    color: $dark;
    padding: 15px 18px;
  }

  &__layouts {
    display: flex;
    align-items: center;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__layout {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 13px 0 0 13px;
    background-color: $white;
    transition: background-color 0.5s ease;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;

    &.active {
      background-color: $primary;
      #{$this}__icon-filter {
        fill: $white;
      }
    }

    &:hover {
      box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
      #{$this}__icon-filter {
        transform: scale(1.1);
      }
    }

    & + & {
      border-radius: 0 13px 13px 0;
    }
  }

  &__selector {
    width: 264px;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__select-mobile {
    width: 100%;
  }

  &__selector-mobile {
    width: 100%;
    display: none;
    gap: 18px;
    align-items: center;
    @media (max-width: $s) {
      display: flex;
    }
  }

  &__layouts-mobile {
    display: none;
    align-items: center;
    @media (max-width: $s) {
      display: flex;
    }
  }
}
</style>
