<template>
  <div class="accordion">
    <div class="accordion__header" @click="open = !open">
      <p class="accordion__title">{{ title }}</p>
      <svg-icon name="chevron-24" class="accordion__icon" :class="{ open }" />
    </div>
    <collapse-transition>
      <div class="accordion__body" v-if="open">
        <div class="accordion__content">
          <slot />
        </div>
      </div>
    </collapse-transition>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
// @ts-ignore
import { CollapseTransition } from 'vue2-transitions'

declare interface BaseComponentData {
  open: boolean
}

export default Vue.extend({
  props: {
    title: {
      type: String,
    },
  },
  data(): BaseComponentData {
    return {
      open: false,
    }
  },
  components: { CollapseTransition },
})
</script>

<style lang="scss" scoped>
.accordion {
  width: 100%;
  display: block;

  position: relative;

  &__header {
    min-width: 100%;
    width: 100%;
    cursor: pointer;
    padding: 11px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $white;
    border-radius: 8px;
    flex-shrink: 0;
    z-index: 2;
    position: relative;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $white;
    transition: ease transform 0.3s;

    &.open {
      transform: rotate(180deg);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    color: $white;
  }

  &__body {
    overflow: auto;
    background: $black;
    border: 1px solid $white-2;
    border-top: unset;
    margin-top: -4px;
    z-index: 1;
    border-radius: 0px 0px 8px 8px;
    position: relative;
  }

  &__content {
    padding: 20px 32px;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: $white-2;
  }
}
</style>
