<template>
  <div class="author">
    <div class="author__image-wrapper">
      <img
        loading="lazy"
        :src="item.profileBanner"
        alt=""
        class="author__image"
      />
    </div>
    <div class="author__avatar-wrapper">
      <img
        loading="lazy"
        :src="item.profileLogo"
        alt=""
        class="author__avatar"
      />
    </div>
    <div class="author__body">
      <nuxt-link :to="'/artist/' + item.id" class="author__name"
        >@{{ author }}</nuxt-link
      >
      <p v-if="item.bio" class="author__description">
        {{ item.bio }}
      </p>
      <button
        :class="{ active: isFolowed }"
        @click="toggleFollow"
        class="author__button"
      >
        Follow
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
    },
  },
  computed: {
    author() {
      return this.item.wallet.address || this.item.username
    },
    folowers() {
      return this.$store.state.follows
    },
    isFolowed() {
      return this.folowers.includes(this.item.id)
    },
    url() {
      return this.isFolowed ? 'unfollow' : 'follow'
    },
  },
  methods: {
    async toggleFollow() {
      if (this.$store.state.user) {
        await this.$axios({
          method: 'post',
          url: `/account/${this.url}/${this.item.id}`,
        })

        await this.$store.dispatch('follows')
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.author {
  padding: 16px;
  background: linear-gradient(180deg, #1e1c45 0%, rgba(30, 28, 69, 0) 171.01%);
  border-radius: 32px;
  &__button {
    padding: 12px 20px;
    background: linear-gradient(92.51deg, #3461ff 3.3%, #8454eb 93.12%);
    box-shadow: 0px 13px 17px rgba(119, 87, 239, 0.2);
    border-radius: 56px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $white;

    border-radius: 56px;
    border: 2px solid #8454eb;
    background: none;
    box-shadow: none;
    transition: ease background-color 0.3s;

    &:hover {
      background-color: #8454eb;
    }

    &.active {
      background-color: #8454eb;
      &:hover {
        background: linear-gradient(92.51deg, #3461ff 3.3%, #8454eb 93.12%);
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    background: linear-gradient(106.46deg, #f8e116 15.32%, #46fab9 91.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #7c7b97;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  &__image {
    &-wrapper {
      border-radius: 16px;
      overflow: hidden;
      width: 100%;
    }

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__avatar {
    &-wrapper {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      transform: translateY(-32px);
      margin-bottom: -32px;
    }

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
