<template>
  <div class="balance">
    <BaseButton class="bordered">balance</BaseButton>
    <div class="balance__popup">
      <div class="balance__popup-top">
        <p class="balance__popup-title">Total balance</p>
        <p class="balance__popup-usd">{{ balanceUsd }} USD</p>
      </div>
      <div class="balance__popup-bottom">
        <div class="balance__popup-info">
          <img loading="lazy" src="/icons/solana.svg" alt="" />
          <div class="balance__popup-info-prices">
            <p class="balance__popup-row">
              <span>sol</span><span>{{ balance.toFixed(2) }}</span>
            </p>
            <p class="balance__popup-row">
              <span class="balance__popup-row-small">SOLANA</span>
              <span class="balance__popup-row-usd"> {{ course }} USD </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      balance: 0,
    }
  },
  methods: {
    async getBalance() {
      const lamports = await this.$connection
        .getBalance(this.$phantom.publicKey)
        .catch((err) => {
          console.error(err)
        })
      this.balance = await (lamports / this.LAMPORTS_PER_SOL)
      this.$store.dispatch('setBalance', this.balance)
    },
  },
  computed: {
    balanceUsd() {
      return (this.balance * this.course).toFixed(2)
    },
    LAMPORTS_PER_SOL() {
      return this.$store.state.LAMPORTS_PER_SOL
    },
    course() {
      return this.$store.state.course
    },
  },
  mounted() {
    setInterval(() => {
      this.getBalance()
    }, 5000)
  },
}
</script>

<style lang="scss" scoped>
.balance {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
  &:hover {
    .balance__popup {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }

  @media (max-width: $s) {
    display: none;
  }

  &__popup {
    transition: ease opacity 0.3s, ease transform 0.3s;
    transform: translateY(10px);
    position: absolute;
    top: 120%;
    width: 216px;
    opacity: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-top {
      background-color: #5b5af5;
      border-radius: 20px;
      padding: 10px 20px;
    }

    &-bottom {
      background-color: #40457a;
      border-radius: 20px;
      padding: 10px 20px;
    }

    &-info {
      display: flex;
      gap: 10px;

      &-prices {
        width: 100%;
      }
    }

    &-title {
      font-family: 'Poppins';
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: $white;
      text-align: center;
    }

    &-usd {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: $white;
      text-align: center;
    }

    &-row {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: $white;

      display: flex;
      justify-content: space-between;

      & + & {
        margin-top: 5px;
      }

      &-small {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 10px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: $white;
      }

      &-usd {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: $white;
      }
    }
  }
}
</style>
