<template>
  <div class="card" v-if="item" :class="{ auction: footer }">
    <div class="card__fav">
      <AddFavorite :id="item.id" :likes="item.likes" type="items" />
    </div>
    <nuxt-link :to="'/artwork/' + item.id"
      ><div class="card__cover">
        <img
          loading="lazy"
          v-if="item.metadata"
          :src="item.metadata.image"
          class="card__image"
        /></div
    ></nuxt-link>
    <div class="card__body">
      <div class="card__inner">
        <p v-if="item.fromAdmin" class="card__name">{{ author }}</p>
        <nuxt-link :to="'/artist/' + item.owner.id" v-else class="card__name link">{{
          author
        }}</nuxt-link>
        <p v-if="item.saleEnd" class="card__bid">Current Bid</p>
      </div>
      <div class="card__inner">
        <div class="card__user">
          <div class="card__user-avatar-wrapper">
            <img
              loading="lazy"
              v-if="item.fromAdmin"
              class="card__user-avatar"
              src="/admin.png"
            />
            <img
              loading="lazy"
              :src="item.owner.profileLogo"
              class="card__user-avatar"
            />
          </div>
          <nuxt-link
            :to="'/artwork/' + item.id"
            v-if="item.metadata"
            class="card__user-name"
          >
            {{ item.metadata.name }}
          </nuxt-link>
        </div>
        <svg-icon
          v-if="item.isVerified"
          class="card__verified"
          name="verified"
        />
        <p v-if="item.currentPrice" class="card__price">
          {{ item.currentPrice }} SOL
        </p>
      </div>
    </div>
    <div class="card__footer" v-if="footer">
      <div class="card__buy">
        <TradeSteps v-if="item.fromAdmin" :artwork="item" />

        <button v-if="item.saleEnd" class="card__buy-history">
          <svg-icon name="reload" class="card__buy-history-icon" />View History
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    author(): string {
      return (
        this.item.owner.username ||
        this.item.owner?.wallet?.address ||
        this.item.author.wallet.address
      )
    },
    footer(): boolean {
      return this.item.fromAdmin || this.item.saleEnd
    },
  },
})
</script>

<style lang="scss" scoped>
.card {
  $this: &;
  max-width: 384px;
  position: relative;

  &.grid {
    #{$this}__tags {
      min-height: 44px !important;
      border-radius: 8px !important;
    }
  }

  &.more {
    #{$this}__inner {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__fav {
    position: absolute;
    top: 20px;
    right: 16px;
    z-index: 6;
  }

  &__verified {
    width: 30px;
    height: 30px;
    fill: #2063e4;
    flex-shrink: 0;
  }

  &__buy {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-button {
      display: flex;
      align-items: center;
      font-size: 12px;
      gap: 5px;

      &-icon {
        width: 16px;
        height: 16px;
      }
    }

    &-history {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: $white;
      display: flex;
      align-items: center;
      gap: 5px;
      &-icon {
        width: 16px;
        height: 16px;
      }
    }
  }

  &.auction {
    margin-bottom: -60px;
  }

  &__auction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      font-weight: 400;
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #848eaf;
    }

    &-time {
      font-size: 24px;
      &-value {
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.02em;
        background: linear-gradient(93.9deg, #168bf8 10.21%, #46fab9 88.87%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__cover {
    height: 320px;
    border-radius: 32px 32px 0px 0px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: #9492bb;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease transform 0.3s;

    &:hover {
      transform: scale(1.1) rotate(5deg);
    }
  }

  &__body {
    padding: 20px 24px;
    background-color: $white;
    box-shadow: 0px 34px 24px rgba(0, 0, 0, 0.16);
    border-radius: 0px 0px 32px 32px;
    position: relative;
    z-index: 2;
  }

  &__footer {
    position: relative;
    top: -60px;
    padding: 80px 20px 24px 20px;
    background: rgba(30, 28, 69, 0.7);
    border-radius: 0px 0px 32px 32px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    & + & {
      margin-top: 10px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    color: $black;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.link {
      &:hover {
        color: #8454eb;
      }
    }
  }

  &__bid {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $black;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 12px;

    &-avatar-wrapper {
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
      background-color: $secondary;
    }

    &-avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-name {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: $black;
      max-width: 140px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 1440px) {
        white-space: unset;
      }
    }
  }

  &__price {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: $black;
  }
}
</style>
