<template>
  <div class="chart-table">
    <div class="chart-table__body">
      <div class="chart-table__row">
        <div class="chart-table__item center">
          <p class="chart-table__title"></p>
        </div>
        <div class="chart-table__item center">
          <p class="chart-table__title">Item</p>
        </div>
        <div class="chart-table__item center">
          <p class="chart-table__title">Price</p>
        </div>
        <div class="chart-table__item center">
          <p class="chart-table__title">Quantity</p>
        </div>
        <div class="chart-table__item center">
          <p class="chart-table__title">From</p>
        </div>
        <div class="chart-table__item center">
          <p class="chart-table__title">To</p>
        </div>
        <div class="chart-table__item center">
          <p class="chart-table__title">Time</p>
        </div>
      </div>
    </div>
    <div class="chart-table__mobile-list">
      <div class="chart-table__mobile-item">
        <div class="chart-table__mobile-block">
          <p class="chart-table__value is-blue">Seller Name</p>
          <p class="chart-table__value">Sale</p>
        </div>
        <div class="chart-table__mobile-block">
          <div class="chart-table__item column big">
            <p class="chart-table__value">Repeat</p>
            <p class="chart-table__value is-green">Offender #3839</p>
          </div>
          <div class="chart-table__item column right">
            <div class="chart-table__box">
              <img
                loading="lazy"
                src="/solana.png"
                class="chart-table__icon"
                alt=""
              />
              <p class="chart-table__value is-number">186</p>
            </div>
            <p class="chart-table__value is-number">$ 0.7</p>
          </div>
        </div>
        <div class="chart-table__mobile-block">
          <p class="chart-table__value is-blue">Very very long name</p>
          <div class="chart-table__box">
            <p class="chart-table__value is-blue">a minute ago</p>
            <a
              class="chart-table__link"
              href="#"
              target="_blanc"
              title="Opens in new window"
            >
              <svg-icon name="share" class="chart-table__icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.chart-table {
  &__row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e3e5e6;
    padding: 8px;
    gap: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;

    &.column {
      flex-direction: column;
      align-items: flex-start;
    }

    &.right {
      align-items: flex-end;
    }

    &.center {
      justify-content: center;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $white;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    fill: $white;
  }

  &__box {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__value {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $white;

    &.is-number {
      font-family: 'Roboto', sans-serif;
    }

    &.is-blue {
      color: #2e75cf;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      max-width: 105px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.is-green {
      color: #069697;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__body {
    @media (max-width: $s) {
      display: none;
    }
  }

  &__mobile-list {
    display: none;
    flex-direction: column;
    gap: 30px;
    @media (max-width: $s) {
      display: flex;
    }
  }

  &__mobile-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__mobile-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
