<template>
  <label class="checkbox" ref="label">
    <input
      class="checkbox__tag"
      type="checkbox"
      :value="val"
      :checked="checked"
      @input="handleInput"
      :disabled="disabled"
    />
    <div class="checkbox__box"></div>
    <span v-if="label">{{ label }}</span>
  </label>
</template>

<script>
export default {
  props: ['label', 'checked', 'val', 'disabled'],
  methods: {
    handleInput(e) {
      this.$emit('input', e.target.checked)
    },
  },
}
</script>

<style lang="scss">
.checkbox {
  $this: &;
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;

  & + & {
    padding-top: 8px;
  }

  &.half-checked {
    #{$this}__tag {
      &:checked {
        + .checkbox__box {
          background-color: $white;
          border: 1px solid $white;
          &::before {
            opacity: 1;
            top: 7px;
            left: 2px;
            content: '';
            width: 12px;
            height: 2px;
            background-image: url("data:image/svg+xml;utf8,<svg width='12' height='2' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='12' height='2' fill='rgb(0, 67, 206)'/></svg>") !important;
          }
        }
      }
    }
  }

  &__box {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid $gray;
    position: relative;
    background-color: $white;
    transition: background-color 0.3s ease, border 0.3s ease;

    &::before {
      position: absolute;
      top: 3px;
      left: 2px;
      content: '';
      width: 12px;
      height: 10px;
    }
  }

  &__tag {
    position: absolute;

    &:hover {
      + .checkbox__box {
        background-color: $primary;
        border: 1px solid $primary;
      }
    }
    &:active {
      + .checkbox__box {
        background-color: $white;
        border: 1px solid $primary;
        outline: 4px solid $primary;
      }
    }

    &:checked {
      + .checkbox__box {
        background-color: $primary;
        border: 1px solid $primary;
        &::before {
          opacity: 1;
          background-image: url("data:image/svg+xml;utf8,<svg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.28571 9.5L0 5.24857L1.36286 3.92857L4.28571 6.8L10.6371 0.5L12 1.85429L4.28571 9.5Z' fill='rgb(255, 255, 255)'/></svg>") !important;
        }
      }
    }

    &:disabled {
      + .checkbox__box {
        opacity: 0.2;
      }
    }
  }

  span {
    margin-left: 8px;
    color: $gray;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}
</style>
