<template>
  <nuxt-link to="/" class="collection">
    <div class="collection__avatar-wrapper">
      <img
        loading="lazy"
        v-if="!item.username"
        class="collection__avatar"
        src="/admin.png"
      />
      <img loading="lazy" :src="item.profileLogo" class="collection__avatar" />
    </div>
    <div class="collection__info">
      <p class="collection__name">{{ author }}</p>
      <p class="collection__followers">{{ item.followCount }}</p>
    </div>
  </nuxt-link>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    item: {
      type: Object,
    },
  },
  computed: {
    author(): string {
      return this.item.username || this.item.wallet.address
    },
  },
})
</script>

<style lang="scss" scoped>
.collection {
  background-color: #161a42;
  border-radius: 22px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 0px 11px $primary;
    background-color: #222863;
  }

  &__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrapper {
      width: 68px;
      height: 68px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__name {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 19px;
    line-height: 27px;
    color: $white;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__followers {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #7d82b3;
    margin-top: 4px;
  }
}
</style>
