<template>
  <div class="description">
    <div class="description__container" :class="{ open: opened }">
      <p>{{ description }}</p>
    </div>
    <div class="description__section" @click="toggle">
      <div class="description__button">
        <svg-icon
          class="description__icon"
          name="chevron-down"
          :class="{ open: opened }"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['description'],
  data() {
    return {
      opened: false,
    }
  },
  methods: {
    toggle() {
      this.opened = !this.opened
    },
  },
}
</script>

<style lang="scss">
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;

  @media (max-width: $m) {
    padding: 0 16px;
  }
  &__container {
    max-height: 130px;
    word-break: break-word;
    -webkit-mask: linear-gradient(rgb(255, 255, 255) 45%, transparent);
    color: rgb(112, 122, 131);
    text-align: center;
    max-width: 800px;
    overflow: hidden;
    transition: max-height 0.5s ease;

    &.open {
      max-height: 1000px;
      -webkit-mask: unset;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      text-align: center;

      color: $white-2;
      @media (max-width: $m) {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 0;
    cursor: pointer;
  }

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $primary;
    transition: transform 0.3s ease;
    &.open {
      transform: rotate(180deg);
    }
  }
}
</style>
