<template>
  <div class="explore">
    <div class="explore__header"></div>
    <div class="explore__tabs">
      <Tab
        :tab="{ name: 'All' }"
        :class="{
          active: activeTab == 'all' || activeTab == this.categories[0].value,
        }"
        @click.native="toggleTab('all')"
      />
      <Tab
        :tab="tab"
        v-for="tab in categories"
        :key="tab.id"
        :class="{ active: tab.id == activeTab }"
        @click.native="toggleTab(tab.id)"
      />
    </div>
    <div class="explore__body">
      <div
        class="explore__item"
        :class="{ blocked: !item.fromAdmin }"
        v-for="item in sortedList"
        :key="item.id"
      >
        <CollectionCard :item="item" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
    },
    categories: {
      type: Array,
    },
    hiddens: {
      type: Array,
    },
  },
  computed: {
    activeTab() {
      return this.$route.query.tab || this.categories[0].value
    },
    sortedList() {
      const reverseArray = this.list.sort((a, b) => (a.id > b.id ? 1 : -1))
      if (this.hiddens) {
        const arrayHidden = []

        reverseArray.forEach((element) => {
          if (
            this.hiddens.find((el) => el.id === element.author.id) ||
            element.isBlocked
          ) {
          } else {
            arrayHidden.push(element)
          }
        })

        return arrayHidden.sort((a, b) => (a.fromAdmin < b.fromAdmin ? 1 : -1))
      }
      return reverseArray.sort((a, b) => (a.fromAdmin < b.fromAdmin ? 1 : -1))
    },
  },
  methods: {
    toggleTab(value) {
      this.$emit('togglePage', value)
    },
  },
}
</script>

<style lang="scss">
.explore {
  &__tabs {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 100px;
    @media (max-width: $m) {
      display: none;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    @media (max-width: $m) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 132px;
  }

  &__item {
    &.blocked {
      display: none;
    }
  }
}
</style>
