<template>
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item">
        <nuxt-link to="/explore" class="menu__link">Explore</nuxt-link>
        <div class="menu__link mobile">Explore</div>
        <div class="menu__popup">
          <nuxt-link to="/explore" class="menu__popup-item">
            <div class="menu__popup-link">All NFT</div>
          </nuxt-link>
          <nuxt-link
            v-for="(item, index) in categories"
            :key="index"
            :to="'/explore/' + item.id"
            class="menu__popup-item"
          >
            <div class="menu__popup-icon" v-if="item.image">
              <img
                loading="lazy"
                class="menu__image"
                :src="item.image"
                alt=""
              />
            </div>
            <div class="menu__popup-link">{{ item.name }}</div>
          </nuxt-link>
        </div>
      </li>

      <li class="menu__item" v-if="user">
        <img
          loading="lazy"
          class="menu__user-image"
          v-if="user.profileLogo"
          :src="user.profileLogo"
          alt=""
        />
        <svg-icon v-else name="user" class="menu__icon-user" />
        <div class="menu__popup">
          <div class="menu__popup-item">
            <div class="menu__popup-link">
              {{ user.username ? user.username : user.wallet.address }}
            </div>
          </div>
          <nuxt-link to="/user" class="menu__popup-item">
            <div class="menu__popup-icon">
              <svg-icon name="user-profile" class="menu__image" />
            </div>
            <div class="menu__popup-link">Profile</div>
          </nuxt-link>
          <nuxt-link to="/user?tab=favorited" class="menu__popup-item">
            <div class="menu__popup-icon">
              <svg-icon name="user-favorites" class="menu__image" />
            </div>
            <div class="menu__popup-link">Favorites</div>
          </nuxt-link>
          <nuxt-link to="/user/artworks" class="menu__popup-item">
            <div class="menu__popup-icon">
              <svg-icon name="artwork" class="menu__image" />
            </div>
            <div class="menu__popup-link">My NFTs</div>
          </nuxt-link>

          <nuxt-link to="/user/settings" class="menu__popup-item">
            <div class="menu__popup-icon">
              <svg-icon name="settings" class="menu__image fill" />
            </div>
            <div class="menu__popup-link">Setting</div>
          </nuxt-link>
          <div @click="disconnectPhantom" class="menu__popup-item">
            <div class="menu__popup-icon">
              <svg-icon name="sign-out" class="menu__image" />
            </div>
            <div class="menu__popup-link">Sign Out</div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      categories: [],
    }
  },
  computed: {
    user() {
      return this.$store.state.user
    },
  },
  methods: {
    async disconnectPhantom() {
      this.$router.push({ path: '/' })
      this.$cookiz.remove('publicKey')
      this.$cookiz.remove('user_id')
      this.$store.commit('logout')
      this.$phantom.disconnect()
    },
  },
  async fetch() {
    await this.$axios.$get(`/nft/categories`).then((res) => {
      this.categories = res.categories
    })
  },
}
</script>

<style lang="scss" scoped>
.menu {
  $this: &;
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    position: relative;
    flex-shrink: 0;
    & + & {
      margin-left: 40px;
    }

    &:hover {
      .menu__popup {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
      }
      .menu__link {
        border-bottom: 1px solid $white;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $white;
    text-decoration: none;

      @media (max-width: $s) {
        display: none;
      }

    &.mobile {
      display: none;
      @media (max-width: $s) {
        display: block !important;
      }
    }
  }

  &__popup {
    pointer-events: none;
    position: absolute;
    background-color: $background-second;
    top: calc(100% + 15px);
    left: -25px;
    min-width: 160px;
    opacity: 0;
    transform: translateY(10px);
    transition: ease opacity 0.3s, ease transform 0.3s;
    box-shadow: 0px 5px 4px rgb(0 0 0 / 25%);

    @media (max-width: $s) {
      left: unset;
      right: -25px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -15px;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &-item {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $white;
        #{$this}__popup-link {
          color: $background-second;
        }
        #{$this}__popup-icon {
          & > svg {
            fill: $background-second;
          }
        }
      }

      & + & {
        border-top: 1px solid rgba(138, 138, 160, 0.1);
      }
    }

    &-link {
      font-weight: 900;
      font-size: 15px;
      line-height: 18px;
      color: $secondary;
      text-decoration: none;
      transition: color 0.3s ease;
      max-width: 105px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.44);
    }

    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 13px;
    }
  }

  &__bottom {
    padding: 10px 9px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__popup-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    & > svg {
      fill: $white;
      transition: fill 0.3s ease;
    }
  }
  &__icon-user {
    width: 34px;
    height: 34px;

    & > svg {
      fill: $white;
      transition: fill 0.3s ease;
    }
  }

  &__user-image {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    flex-shrink: 0;
  }

  &__image {
    &.reverse {
      transform: rotate(-180deg);
    }
  }

  &__popup-dark {
    border-top: 1px solid rgba(138, 138, 160, 0.1);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 8px 12px;
  }
}
</style>
