<template>
  <div class="paginate">
    <paginate
      class="pagination__flex"
      v-model="page"
      :page-range="pageRange"
      :margin-pages="1"
      :page-count="pageCount"
      :click-handler="togglePage"
      :prev-text="'Prev'"
      :next-text="'Next'"
      break-view-class="is-break"
      container-class="pagination"
      page-class="pagination__item"
      page-link-class="pagination__link"
      prev-class="pagination__item button prev"
      next-class="pagination__item button"
    />
  </div>
</template>

<script>
export default {
  props: ['paginationData'],
  data() {
    return {
      page: +this.$route.query.page || 1,
    }
  },
  computed: {
    pageCount() {
      return Math.ceil(this.paginationData.total / this.paginationData.take)
    },
    pageRange() {
      if (this.pageCount > 10) {
        return 3
      } else {
        return 6
      }
    },
  },
  watch: {
    $route(to, from) {
      this.page = +to.query.page || 1
    },
  },
  methods: {
    togglePage(page) {
      this.$router.push({
        query: {
          ...this.$route.query,
          page,
        },
      })
      this.$emit('togglePagination', page)
    },
  },
}
</script>

<style lang="scss">
.pagination {
  $this: &;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 64px;

  @media (max-width: $s) {
    padding-top: 48px;
  }

  &__flex {
    display: flex;
    align-items: center;
  }

  &__item {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8454eb;
    color: $white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    transition: background-color 0.3s ease, width 0.3s ease;
    & + & {
      margin-left: 8px;
    }

    &:hover {
      background-color: $secondary;
    }

    &.active {
      #{$this}__link {
        color: #8454eb;
      }
      background-color: $secondary;
    }

    &.button {
      width: 78px;
      &:hover {
        & > a {
          color: #8454eb;
        }
      }

      & > a {
        color: $white;
      }
    }

    &.disabled {
      opacity: 0;
      width: 0;
    }

    &.is-break {
      opacity: 1;
      width: unset;
      background-color: unset;
    }
  }

  &__link {
    text-decoration: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    color: $white;

    &:hover {
      color: #8454eb;
    }
  }
}
</style>
