<template>
  <div class="range">
    <div class="range__inputs-price">
      <label class="from">
        <FormBaseInput
          inputType="number"
          inputmode="numeric"
          :min="min"
          :max="max"
          :valueText="values[0]"
          v-model="values[0]"
          @input="updateValue"
        />
      </label>
      <div class="range__separator">to</div>
      <label class="to">
        <FormBaseInput
          inputType="number"
          inputmode="numeric"
          :min="min"
          :max="max"
          :valueText="values[1]"
          v-model="values[1]"
          @input="updateValue"
        />
      </label>
    </div>
    <div class="range__slider" ref="range"></div>
  </div>
</template>

<script>
import noUiSlider from 'nouislider'
import '@/styles/plugins/range.scss'
export default {
  data() {
    return {
      values: [0, 30],
      from: 0,
      min: 0,
      to: 30,
      max: 30,
      slider: null,
    }
  },
  methods: {
    updateValue() {
      this.slider.noUiSlider.set(this.values)
      this.$emit('update', this.values)
    },
  },
  mounted() {
    this.slider = this.$refs.range
    noUiSlider.create(this.slider, {
      start: this.values,
      connect: true,
      step: 1,
      range: {
        min: this.min,
        max: this.max,
      },
    })
    this.slider.noUiSlider.on('end', (values) => {
      this.values = [+values[0], +values[1]]
      this.$emit('update', this.values)
    })
  },
}
</script>

<style lang="scss" scoped>
.range {
  position: relative;

  &__separator {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  &__slider {
    margin-top: 34px;
    margin-bottom: 10px;
  }

  &__inputs-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > label {
      width: 120px;
      position: relative;
    }
  }
}
</style>
