<template>
  <div class="select">
    <multiselect
      :searchable="false"
      :allow-empty="false"
      v-model="value"
      :options="options"
      deselect-label="Can't remove this value"
      track-by="name"
      label="name"
      :class="{ 'with-border': border }"
      @input="emitInput"
    >
      <template class="select__content" slot="option" slot-scope="props">
        <img
          loading="lazy"
          class="select__icon"
          v-if="props.option.icon"
          :src="props.option.icon"
          :alt="props.option.name"
        />
        <span class="select__span">{{ props.option.name }}</span>
      </template>
    </multiselect>
  </div>
</template>

<script>
export default {
  props: {
    border: {
      type: Boolean,
      default: false,
    },
    options: {
      type: Array,
    },
  },
  data() {
    return {
      value: null,
    }
  },
  methods: {
    emitInput(e) {
      this.$emit('input', e.value)
    },
  },
}
</script>

<style lang="scss">
.multiselect {
  $this: &;
  background-color: $white;
  border: 1px solid $black;
  height: 46px;
  border-radius: 6px;
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  color: $black;
  cursor: pointer;

  &.with-border {
    height: 58px;
    #{$this}__tags {
      border: 1px solid #e5e8eb;
      min-height: 58px;
      border-radius: 26px;
      padding: 0 24px 0;
    }
    #{$this}__select {
      right: 20px;
      top: 17px;
    }
    #{$this}__element {
      & > span {
        padding: 16px 24px;
      }
    }
  }

  &__select {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 10px;
    transition: transform 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
      background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path  d="M16.59 8.58984L12 13.1698L7.41 8.58984L6 9.99984L12 15.9998L18 9.99984L16.59 8.58984Z" fill="rgb(44, 42, 42)"/></svg>');
    }
  }

  &__tags {
    border-radius: 13px;
    min-height: 44px;
    display: flex;
    align-items: center;
    padding: 0 16px 0;
    font-size: 14px;
  }

  &__content-wrapper {
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    position: absolute;
    display: block;
    background: $white;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    border-radius: 0px 0px 6px 6px;
    z-index: 50;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: 12px;
      z-index: 10;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 4px solid transparent;
      background-clip: content-box;
    }
  }

  &__content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 100%;
    vertical-align: top;
  }

  &__element {
    transition: box-shadow 0.3s ease;
    display: flex;
    width: 100%;
    &:hover {
      box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    }
    & + & {
      border-top: 1px solid $white-2;
    }

    & > span {
      width: 100%;
      padding: 8px 16px;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover {
      background-color: $primary;
      & .select__icon {
        fill: $white;
      }
      & .select__span {
        color: $white;
      }
    }
  }
}

.select {
  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: $black;
  }

  &__span {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
}
</style>
