<template>
  <div class="settings-header">
    <div class="settings-header__content">
      <div class="settings-header__box">
        <div class="settings-header__cover">
          <img
            v-if="user"
            class="settings-header__image"
            :src="user.profileLogo"
          />
        </div>
        <div class="settings-header__socials adaptive">
          <Socials :socials="socials" class="white" />
        </div>
        <div class="settings-header__container">
          <p class="settings-header__author">Author Profile</p>
          <p v-if="user" class="settings-header__title">{{ user.username }}</p>
          <p v-if="user" class="settings-header__description">
            {{ user.bio }}
          </p>
          <div class="settings-header__clipboard">
            <p v-if="user" class="settings-header__clipboard-text">
              {{ user.wallet.address }}
            </p>
            <svg-icon @click="copy" class="settings-header__icon" name="copy" />
          </div>
        </div>
      </div>
      <div class="settings-header__socials">
        <Socials :socials="socials" class="white" />
      </div>
    </div>
    <div class="settings-header__selector">
      <Select :options="links" @input="linkTo" v-model="link" />
    </div>
    <div class="settings-header__nav">
      <nuxt-link to="/user/settings" class="settings-header__link"
        >Profile</nuxt-link
      >

      <nuxt-link to="/user/settings/support" class="settings-header__link"
        >Support</nuxt-link
      >
    </div>
  </div>
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      link: null,
      links: [
        { name: 'Profile', value: '/user/settings' },
        { name: 'Offers', value: '/user/settings/offers' },
        { name: 'Support', value: '/user/settings/support' },
      ],
    }
  },
  computed: {
    user() {
      return this.$store.state.user
    },
    socials() {
      return {
        facebook: this.user?.facebook,
        twitter: this.user?.twitter,
        instagram: this.user?.instagram,
        discord: this.user?.discord,
      }
    },
  },
  methods: {
    linkTo() {
      this.$router.push({ path: this.link })
    },
    async copy() {
      let textToCopy = this.user.wallet.address
      try {
        await this.$copyText(textToCopy)
      } catch (e) {
        console.error(e)
      }
    },
  },
}
</script>

<style lang="scss">
.settings-header {
  background-color: $white;
  border: 1px solid rgb(229, 232, 235);
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  border-radius: 12px;
  &__content {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    min-height: 280px;
    @media (max-width: $s) {
      padding: 16px;
    }
  }

  &__box {
    display: flex;
    @media (max-width: $s) {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__cover {
    position: relative;
    width: 274px;
    height: 274px;
    border-radius: 24px;
    flex-shrink: 0;
    background-color: $secondary;
    overflow: hidden;

    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    @media (max-width: $s) {
      margin-left: 0;
    }
  }

  &__author {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $white-2;
    margin-bottom: 5px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 5px;
  }

  &__description {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $white-2;
    max-width: 582px;
  }

  &__clipboard {
    background-color: $secondary;
    border-radius: 50px;
    width: 190px;
    height: 36px;
    padding: 8px 20px;
    position: relative;
    margin-top: 20px;
  }

  &__clipboard-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7a798a;
    max-width: 136px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: #7a798a;
    position: absolute;
    right: 15px;
    top: 9px;
    cursor: pointer;
    transition: fill 0.3s ease;

    &:hover {
      fill: $primary;
    }
  }

  &__socials {
    display: flex;
    gap: 32px;
    align-items: center;

    @media (max-width: $s) {
      display: none;
    }

    &.adaptive {
      display: none;
      @media (max-width: $s) {
        display: flex;
      }
    }
  }

  &__button {
    border: 1px solid $white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: $white;
    transition: all 0.3s ease;

    &:hover {
      border: 1px solid $primary;
      color: $white;
      background-color: $primary;
    }
  }

  &__nav {
    width: 100%;
    background-color: $white-2;
    height: 74px;
    display: flex;
    align-items: center;
    gap: 56px;
    padding: 0 40px;
    border-radius: 12px;

    @media (max-width: $s) {
      display: none;
    }
  }

  &__selector {
    display: none;
    @media (max-width: $s) {
      display: block;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $white;
    position: relative;

    &:nth-child(1) {
      margin-left: 310px;
      @media (max-width: $s) {
        margin-left: 0;
      }
    }

    &.nuxt-link-exact-active {
      &::after {
        position: absolute;
        bottom: -24px;
        left: calc(50% - 12px);
        content: '';
        border: 16px solid transparent;
        border-bottom: 12px solid $white;
      }
    }
  }
}
</style>
