<template>
  <div class="main-slider">
    <div class="main-slider__slider">
      <div class="main-slider__slider-container" ref="container">
        <div class="main-slider__wrapper">
          <div
            class="main-slider__slide"
            v-for="(item, index) in items"
            :key="index"
          >
            <div class="main-slider__item">
              <img :src="item" />
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider__pagination" ref="pagination"></div>
    </div>
  </div>
</template>

<script>
import Swiper, { Autoplay, Navigation, Pagination } from 'swiper'
// import 'swiper/components/pagination/pagination.min.css'
// import 'swiper/swiper.min.css'
Swiper.use([Autoplay, Navigation, Pagination])
export default {
  data() {
    return {
      items: [
        '/about-video.jpg',
        '/partners.jpg',
        '/about-video.jpg',
        '/partners.jpg',
      ],
    }
  },
  mounted() {
    this.swiper = new Swiper(this.$refs.container, {
      direction: 'horizontal',
      loop: true,
      slidesPerView: 1,
      spaceBetween: 0,
      speed: 1000,
      autoplay: {
        delay: 5000,
        pauseOnMouseEnter: true,
      },

      wrapperClass: 'main-slider__wrapper',
      slideClass: 'main-slider__slide',

      pagination: {
        el: this.$refs.pagination,
        type: 'bullets',
        // dynamicBullets: true,
        // dynamicMainBullets: 4,
      },
    })
  },
}
</script>

<style lang="scss" scoped>
.main-slider {
  $this: &;
  padding: 40px 0;

  &__item {
    height: 560px;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__drop-list {
    width: 180px;
    position: absolute;
    top: 40px;
    right: -40px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-24px);
    // z-index: -1;
    pointer-events: none;
  }

  &__drop-item {
    display: block;
    align-items: center;
    gap: 8px;
    padding: 11px 21px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $black;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    }
    &:nth-child(1) {
      box-sizing: border-box;
      border-radius: 13px 13px 0 0;
    }
    &:nth-last-child(1) {
      border-radius: 0px 0px 13px 13px;
    }

    &.with-icon {
      padding: 11px 8px;
    }
  }

  &__headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 64px;
    @media (max-width: $s) {
      margin-bottom: 30px;
      gap: 8px;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;

    &red {
      color: #9945ff;
    }

    @media (max-width: $s) {
      font-weight: 500;
      font-size: 27px;
      line-height: 32px;
    }
  }

  &__dropdown {
    position: relative;
    display: flex;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      right: -40px;
      bottom: 4px;
      border: 11px solid transparent;
      border-top: 14px solid #9945ff;
      @media (max-width: $s) {
        right: -30px;
        bottom: -3px;
      }
    }

    &:hover {
      #{$this}__drop-list {
        opacity: 1;
        z-index: 100;
        pointer-events: all;
        transform: translateY(0);
      }
    }
  }

  &__slider {
    // display: none;
    position: relative;
    @media (max-width: $s) {
      display: block;
    }
  }

  &__slider-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
  }

  &__pagination {
    width: 100% !important;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -65px;
    left: 0;
    align-items: center;
    margin: 27px 0;
    gap: 16px;
  }

  ::v-deep .swiper-pagination-bullet {
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid $black;
    flex-shrink: 0;
    transition: ease background-color 0.3s;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      top: -5px;
      left: -5px;
      border: 1px solid $black;
      transform: scale(0.5);
      transition: ease transform 0.3s;
    }
  }

  ::v-deep .swiper-pagination-bullet-active {
    background-color: $black;
    &::before {
      transform: scale(1);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__info {
    padding: 16px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 4px;

    &-artist {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__icon {
    color: #9945ff;
    width: 42px;
    height: 40px;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
  }

  &__artist {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
  }

  &__button {
    padding: 10px 8px;
    cursor: pointer;
    background-color: #9945ff;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #fcfcfd;
    margin-top: 15px;
    min-width: 80px;
  }

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 60px);
    top: calc(50% - 30px);
    left: -30px;
    // opacity: 0;
    transition: opacity 0.3s ease;
    // pointer-events: none;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__button-next,
  &__button-prev {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: $white;
    // box-shadow: 0px 0px 12px rgba(18, 22, 26, 0.24);
    border: 1px solid #d0d5dd;
    bottom: 48px;
    left: 48px;
    z-index: 20;
    outline: none;
    opacity: 1;
    pointer-events: all;
    cursor: pointer;

    &:hover {
      & .main-slider__chevron {
        fill: red;
      }
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__button-prev {
    transform: rotate(180deg);
  }

  &__chevron {
    width: 24px;
    height: 24px;
    fill: #868687;
  }
}
</style>
