<template>
  <div class="start">
    <div class="start__item">
      <div class="start__icon-wrapper">
        <img
          loading="lazy"
          class="start__icon"
          src="/icons/wallet.svg"
          alt=""
        />
      </div>
      <p class="start__name">Choose your wallet</p>
      <p class="start__description">
        Choose your wallet depend on we are wallet partners
      </p>
      <div class="start__button">
        <BaseButton class="bordered">Learn more</BaseButton>
      </div>
    </div>
    <div class="start__item">
      <div class="start__icon-wrapper">
        <img loading="lazy" class="start__icon" src="/icons/image.svg" alt="" />
      </div>
      <p class="start__name">Upload your NFTS</p>
      <p class="start__description">
        Upload your NFTS with JPEG,MP3 & more format
      </p>
      <div class="start__button">
        <BaseButton class="bordered">Learn more</BaseButton>
      </div>
    </div>
    <div class="start__item">
      <div class="start__icon-wrapper">
        <img loading="lazy" class="start__icon" src="/icons/paper.svg" alt="" />
      </div>
      <p class="start__name">List them for sales</p>
      <p class="start__description">
        Choose between auctions, fixed-price listings.
      </p>
      <div class="start__button">
        <BaseButton class="bordered">Learn more</BaseButton>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  @media (max-width: $s) {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 244px;
    z-index: 2;
    position: relative;
    padding: 16px 0;
  }

  &__button {
    margin-top: 32px;
    @media (max-width: $s) {
      margin-top: 16px;
    }
  }

  &__description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #7c7b97;
    margin-top: 12px;
  }

  &__name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: $white;
  }

  &__icon {
    width: 54px;
    height: 54px;

    &-wrapper {
      background-color: #070520;
      border: 2px solid #4f66a2;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;

      @media (max-width: $s) {
        margin-bottom: 16px;
        width: 96px;
        height: 96px;
      }
    }
  }
}
</style>
