<template>
  <div class="subscribe">
    <input type="text" class="subscribe__input" />
    <button class="subscribe__button">
      <svg-icon name="send" class="subscribe__button-icon" />
    </button>
  </div>
</template>

<style lang="scss" scoped>
.subscribe {
  display: flex;

  &__input {
    border: 1px solid #343444;
    border-radius: 10px 0 0 10px;
    background: none;
    padding: 17px 24px;
    color: $white;
    width: 251px;
  }

  &__button {
    background: $white;
    border-radius: 0px 10px 10px 0px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease background-color 0.3s;

    &:hover {
      background-color: #8454eb;
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
  }
}
</style>
