<template>
  <div class="video-card">
    <iframe
      class="video-card__frame"
      v-show="!videoVisible"
      width="100%"
      height="100%"
      :src="video"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      controls="0"
      modestbranding="1"
    ></iframe>
  </div>
</template>

<script>
export default {
  props: ['preview', 'video'],
  data() {
    return {
      videoVisible: false,
    }
  },
  methods: {
    showVideo() {
      this.videoVisible = false
    },
  },
}
</script>

<style scoped lang="scss">
.video-card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  &__frame {
    width: 100%;
    height: 100%;
    & .ytp-chrome-top.ytp-show-cards-title {
      display: none;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    pointer-events: none;
    filter: brightness(68%);
  }

  &__button {
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 100%;
    cursor: pointer;
    pointer-events: all;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 0px 5px 4px rgb(0 0 0 / 25%);
      & .video-card__icon {
        transform: scale(1.1);
        fill: $primary;
      }
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    fill: #6e37ff;
    transform: scale(1);
    transition: transform 0.3s ease;
  }
}
</style>
