<template>
  <BaseSection>
    <div class="collections">
      <div class="collections__header">
        <p class="collections__title">My collections</p>
      </div>
      <div class="collections__body">
        <div class="collections__list-item" v-for="item in list" :key="item.id">
          <CollectionCard :item="item" />
        </div>
      </div>
    </div>
  </BaseSection>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      list: [],
    }
  },

  async asyncData({ $axios, $cookiz }) {
    const id = $cookiz.get('user_id')

    const list = await $axios.$get(`/collection?ownerId=${id}`)

    return { list: list.collections }
  },
}
</script>

<style lang="scss" scoped>
.collections {
  $this: &;
  padding-top: 80px;
  @media (max-width: $m) {
    padding-top: 25px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 8px;

    @media (max-width: $s) {
      text-align: center;
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    @media (max-width: $s) {
      text-align: center;
    }
  }

  &__icon {
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 16px;
    height: 16px;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    width: 320px;
    height: 46px;
    border: 1px solid $white;
    border-radius: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $white;
    justify-content: center;

    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__body {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @media (max-width: $m) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 48px;
    }
    @media (max-width: $s) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }

  &__button-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    @media (max-width: $s) {
      justify-content: center;
    }
  }

  &__box {
    position: relative;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(214.02deg, #b75cff 6.04%, #6205fa 92.95%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #913df3;
      #{$this}__list {
        opacity: 1;
        z-index: 100;
        pointer-events: all;
        transform: translateY(0);
      }
    }
  }

  &__icon-dots {
    width: 24px;
    height: 24px;
    fill: $white;
  }

  &__list {
    position: absolute;
    top: 46px;
    right: 0;
    width: 171px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-24px);
    pointer-events: none;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 11px 21px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: $black;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $primary;
    }
    &:nth-child(1) {
      box-sizing: border-box;
      border-radius: 13px 13px 0 0;
    }
    &:nth-last-child(1) {
      border-radius: 0px 0px 13px 13px;
    }
  }
}
</style>
