<template>
  <div :class="[{ load }, 'create']">
    <BaseSection>
      <div class="create__header">
        <h2 class="create__headline">Create a Collection</h2>
        <p class="create__subtitle">* Required fields</p>
      </div>
      <div class="create__list">
        <div class="create__item">
          <FormBasePreview @uploadFile="uploadLogo" />
          <div class="create__description">
            <p class="create__title">Logo image *</p>
            <p class="create__text">
              This image will also be used for navigation. 350 x 350
              recommended.
            </p>
          </div>
          <span class="create__error" v-if="!fileLogo">Required</span>
        </div>
        <div class="create__item">
          <FormBasePreview @uploadFile="uploadFeatured" />
          <div class="create__description">
            <p class="create__title">Featured image</p>
            <p class="create__text">
              This image will be used for featuring your collection on the
              homepage, category pages, or other promotional areas of OOO. 600 x
              400 recommended.
            </p>
          </div>
          <span class="create__error" v-if="!fileFeatured">Required</span>
        </div>
        <div class="create__item">
          <FormBasePreview @uploadFile="uploadBanner" />
          <div class="create__description">
            <p class="create__title">Banner image</p>
            <p class="create__text">
              This image will appear at the top of your collection page. Avoid
              including too much text in this banner image, as the dimensions
              change on different devices. 1400 x 400 recommended.
            </p>
          </div>
          <span class="create__error" v-if="!fileBanner">Required</span>
        </div>
        <div class="create__section">
          <FormBaseInput
            label="Name *"
            placeholderText="Item Name"
            v-model="form.metadata.name"
          />
          <span class="create__error" v-if="!form.metadata.name">Required</span>
          <span class="create__error" v-if="nameSize >= 32"
            >the title is too large</span
          >
        </div>
        <div class="create__section">
          <FormBaseInput
            v-model="form.metadata.link"
            label="URL"
            description="Customize your URL on OOO. Must only contain lowercase letters,numbers, and hyphens."
            placeholderText="httP://ooo.oo./cooooo/희망하는 URL 입력"
          />
          <span class="create__error" v-if="!form.metadata.link">Required</span>
        </div>
        <div class="create__section">
          <FormBaseInput
            v-model="form.metadata.description"
            label="Description"
            placeholderText="e.g. “This is very limited item”"
          />
          <span class="create__error" v-if="!form.metadata.description"
            >Required</span
          >
        </div>
        <div class="create__bottom">
          <p class="create__title big">Category</p>
          <p class="create__text">
            Adding a category will help make your Artwork discoverable on NFTillion.
          </p>
          <div class="create__selector" v-if="categories">
            <Select v-model="form.category" :options="categories" />
            <span class="create__error" v-if="!form.category">Required</span>
          </div>
        </div>
        <div class="create__section">
          <BaseButton
            @click.native="create"
            :class="[{ disabled: !validate }, 'is-create']"
          >
            Create
          </BaseButton>
        </div>
      </div>
    </BaseSection>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import {
  Collection,
  CreateMasterEditionV3,
  CreateMetadataV2,
  Creator,
  DataV2,
} from "@metaplex-foundation/mpl-token-metadata";
import {
  getMasterEdition,
  getMetadata,
  getTokenWallet,
} from "../../helpers/account";
import * as web3 from "@solana/web3.js";
import * as anchor from "@project-serum/anchor";
import {
  ASSOCIATED_TOKEN_PROGRAM_ID,
  MintLayout,
  Token,
  TOKEN_PROGRAM_ID,
} from "@solana/spl-token";
import { Keypair, Transaction, SystemProgram } from "@solana/web3.js";
import {
  CreatorItem,
  Metadata,
  Create,
  BaseValidateMetadata,
  CategoriesData,
  CategoriesElement,
  Form,
} from "../../interface/interface-collection-create";

declare interface BaseComponentData {
  load: Boolean;
  fileLogo: any;
  fileFeatured: any;
  fileBanner: any;
  connection: any;
  categoriesList: any;
  form: Form;
  phantom: any;
}

export default Vue.extend({
  layout: "secret",
  data(): BaseComponentData {
    return {
      load: false,
      fileLogo: null,
      fileFeatured: null,
      fileBanner: null,
      // @ts-ignore
      connection: this.$connection,
      categoriesList: [],
      // @ts-ignore
      phantom: this.$phantom,
      form: {
        saleEnd: new Date(),
        type: 3,
        currentPrice: 1,
        category: null,
        metadata: {
          name: '',
          link: '',
          symbol: 'NFRW',
          description: '',
          maxSupply: 0,
        },
      },
    };
  },
  methods: {
    create() {
      console.log("method create");
      this.load = true;
      let form_data: FormData = new FormData();
      form_data.append("image", this.fileFeatured);
      form_data.append("logo", this.fileLogo);
      form_data.append("banner", this.fileBanner);
      form_data.append("author", this.user.id);

      const values: [string, any][] = Object.entries(this.form);

      values.forEach(([key, value]) => {
        key === "metadata"
          ? form_data.append(key, JSON.stringify(value))
          : form_data.append(key, value);
      });

      this.$axios
        .$post("/collection/create", form_data, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((res: Create) => {
          this.mintNft(res);
        });
    },
    async mintNft(res: Create) {
      if (!res) {
        return console.log(`Item does not exists`, 400);
      }

      res.metadata.properties.creators = [
        {
          address: this.phantom.publicKey.toBase58(),
          share: 100,
          verified: false,
        },
      ];

      const metadataLink: string = await this.$axios.$post(
        "/pinata/pinJSON",
        res.metadata
      );

      this.mintToken(
        this.connection,
        this.phantom.publicKey,
        metadataLink,
        null,
        res.metadata.maxSupply,
        null,
        res.metadata
      );
    },
    async mintToken(
      connection: any,
      walletPublicKey: any,
      metadataLink: string,
      collection: Collection | null,
      maxSupply: number,
      uses = null,
      metadata: Metadata
    ) {
      const data = await this.createMetadata(metadataLink, metadata, uses);

      if (!data) return;
      if (!walletPublicKey) {
        return console.warn("The wallet must have a public key", 400);
      }

      const mint = Keypair.generate();
      const signers = [mint];
      const instructions = [];
      const mintRent = await connection.getMinimumBalanceForRentExemption(
        MintLayout.span
      );
      instructions.push(
        SystemProgram.createAccount({
          fromPubkey: walletPublicKey,
          newAccountPubkey: mint.publicKey,
          lamports: mintRent,
          space: MintLayout.span,
          programId: TOKEN_PROGRAM_ID,
        })
      );
      instructions.push(
        Token.createInitMintInstruction(
          TOKEN_PROGRAM_ID,
          mint.publicKey,
          0,
          walletPublicKey,
          walletPublicKey
        )
      );
      const userTokenAccoutAddress = await getTokenWallet(
        walletPublicKey,
        mint.publicKey
      );
      instructions.push(
        Token.createAssociatedTokenAccountInstruction(
          ASSOCIATED_TOKEN_PROGRAM_ID,
          TOKEN_PROGRAM_ID,
          mint.publicKey,
          userTokenAccoutAddress,
          walletPublicKey,
          walletPublicKey
        )
      );
      const metadataAccount = await getMetadata(mint.publicKey);
      instructions.push(
        ...new CreateMetadataV2(
          { feePayer: walletPublicKey },
          {
            metadata: metadataAccount,
            metadataData: data,
            updateAuthority: walletPublicKey,
            mint: mint.publicKey,
            mintAuthority: walletPublicKey,
          }
        ).instructions
      );
      instructions.push(
        Token.createMintToInstruction(
          TOKEN_PROGRAM_ID,
          mint.publicKey,
          userTokenAccoutAddress,
          walletPublicKey,
          [],
          1
        )
      );
      const editionAccount = await getMasterEdition(mint.publicKey);
      instructions.push(
        ...new CreateMasterEditionV3(
          {
            feePayer: walletPublicKey,
          },
          {
            edition: editionAccount,
            metadata: metadataAccount,
            mint: mint.publicKey,
            mintAuthority: walletPublicKey,
            updateAuthority: walletPublicKey,
            maxSupply: new anchor.BN(maxSupply),
          }
        ).instructions
      );
      const signature = await this.sendTransaction(
        connection,
        walletPublicKey,
        instructions,
        signers
      );
      await connection.confirmTransaction(signature);
    },
    async createMetadata(metadataLink: string, metadata: Metadata, uses: any) {
      try {
        return this.validateMetadata({
          metadata,
          uri: metadataLink,
          uses,
        });
      } catch (error) {
        console.error(error);
      }
    },
    validateMetadata({ metadata, uri, uses }: BaseValidateMetadata) {
      if (!metadata) {
        return console.warn("Invalid metadata file", 400);
      }
      const metaCreators: CreatorItem[] = metadata.properties.creators;
      if (
        metaCreators.some((creator: CreatorItem) => !creator.address) ||
        metaCreators.reduce(
          (sum: number, creator: CreatorItem) => creator.share + sum,
          0
        ) !== 100
      ) {
        console.error("Invalid array of creators", 400);
      }

      const creators: CreatorItem[] = metaCreators.map(
        (creator: CreatorItem) =>
          new Creator({
            address: creator.address,
            share: creator.share,
            verified: creator.verified,
          })
      );

      const result = new DataV2({
        symbol: metadata.symbol,
        name: metadata.name,
        uri,
        sellerFeeBasisPoints: metadata.seller_fee_basis_points,
        creators: creators,
        collection: null,
        uses,
      });
      return result;
    },
    async sendTransaction(
      connection: any,
      walletPublicKey: any,
      instructions: any[],
      signers: web3.Signer[]
    ): Promise<any> {
      try {
        const transaction: web3.Transaction = new Transaction();

        instructions.forEach((instruction) => transaction.add(instruction));

        transaction.recentBlockhash = (
          await connection.getLatestBlockhash()
        ).blockhash;
        transaction.feePayer = walletPublicKey;
        transaction.partialSign(...signers);

        const signedTransaction = await this.phantom.signTransaction(
          transaction
        );
        const signature = await connection.sendRawTransaction(
          signedTransaction.serialize()
        );
        return signature;
      } catch (error) {
        console.error(error);
      } finally {
        this.load = false;
      }
    },
    uploadLogo(file: File) {
      this.fileLogo = file;
    },
    uploadFeatured(file: File) {
      this.fileFeatured = file;
    },
    uploadBanner(file: File) {
      this.fileBanner = file;
    },
    nameSize() {
      //@ts-ignore
      return encodeURI(this.form.metadata.name).split(/%..|./).length - 1;
    },
  },
  computed: {
    user() {
      return this.$store.state.user;
    },

    validate() {
      if (
        this.form.metadata.description &&
        this.form.metadata.name &&
        this.fileLogo &&
        this.fileFeatured &&
        this.fileBanner &&
        this.form.category
      ) {
        return true;
      }
      return false;
    },

    categories(): CategoriesElement[] {
      const categories: CategoriesElement[] = [];

      this.categoriesList.forEach((element: CategoriesData) => {
        categories.push({ name: element.name, value: element.id });
      });

      return categories;
    },
  },
  async asyncData({ $axios }) {
    const categoriesList = await $axios.$get(`/nft/categories`);

    return {
      categoriesList: categoriesList.categories,
    };
  },
});
</script>

<style lang="scss" src="../../styles/create.scss"></style>
