<template>
  <div class="artwork-page">
    <div class="artwork-page__desktop">
      <div class="artwork-page__left">
        <ArtworkSidebar :artwork="artwork" />
      </div>
      <div class="artwork-page__right">
        <div class="artwork-page__top">
          <p class="artwork-page__headline">
            {{ artwork.metadata.name }}
          </p>

          <div class="artwork-page__buttons">
            <div class="artwork-page__box-item" v-if="artwork.owner">
              <img
                loading="lazy"
                v-if="artwork.fromAdmin"
                class="artwork-page__profile-image"
                src="/admin.png"
              />
              <img
                loading="lazy"
                v-else
                class="artwork-page__profile-image"
                :src="artwork.owner.profileLogo"
              />
              <div class="artwork-page__columnt">
                <p class="artwork-page__subtext">Owned By</p>
                <p class="artwork-page__name">
                  {{ artwork.owner.username || artwork.owner.wallet.address }}
                </p>
              </div>
            </div>
            <div class="artwork-page__box-item">
              <img
                loading="lazy"
                v-if="artwork.fromAdmin"
                class="artwork-page__profile-image"
                src="/admin.png"
              />
              <img
                loading="lazy"
                v-else
                class="artwork-page__profile-image"
                :src="artwork.author.profileLogo || '/admin.png'"
              />
              <div class="artwork-page__columnt">
                <p class="artwork-page__subtext">Create By</p>
                <p class="artwork-page__name">{{ author }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="artwork-page__info-grid">
          <div class="artwork-page__info">
            <p class="artwork-page__info-value">
              <mark>Artist: </mark> {{ author }}
            </p>
            <p class="artwork-page__info-value">
              <mark>Create: </mark>{{ created.date }} {{ created.time }}
            </p>
            <p class="artwork-page__info-value" v-if="artwork.status === 1">
              <a class="artwork-page__info-link" :href="solscan" target="_blank"
                >go to solscan</a
              >
            </p>
          </div>

          <div class="artwork-page__info" v-if="artwork.saleEnd">
            <p class="artwork-page__info-value">{{ artwork.saleEnd }}</p>
          </div>
        </div>

        <div class="artwork-page__body">
          <ArtworkAccordion class="artwork-page__item" title="Price History">
            <Chart  :artworkId="`${artwork.id}`" query="itemId" />
          </ArtworkAccordion>

          <ArtworkAccordion class="artwork-page__item" title="Artwork Activity">
            <ArtworkActivity
              :artwork="artwork"
              query="itemId"
            />
          </ArtworkAccordion>

          <ArtworkAccordion
            class="artwork-page__item"
            title="More From This Collection"
          >
            <ArtworkArtworks :artworks="artworks" />
          </ArtworkAccordion>

          <div class="artwork-page__collection-button">
            <BaseButton
              @click.native="$router.push(`/collection/${collection}`)"
            >
              View Collection
            </BaseButton>
          </div>
        </div>
      </div>
    </div>

    <div class="artwork-page__mobile">
      <p class="artwork-page__title">{{ author }}</p>

      <ArtworkSidebar :artwork="artwork" />

      <div class="artwork-page__body">
        <ArtworkAccordion class="artwork-page__item" title="Listings">
          <ArtworkListings />
        </ArtworkAccordion>
        <ArtworkAccordion class="artwork-page__item" title="Offers">
          <ArtworkOffers />
        </ArtworkAccordion>
        <ArtworkAccordion class="artwork-page__item" title="Price History">
          <Chart :artworkId="`${artwork.id}`" query="itemId" />
        </ArtworkAccordion>
        <ArtworkAccordion class="artwork-page__item" title="Artwork Activity">
          <ArtworkActivity :artwork="artwork" query="itemId" />
        </ArtworkAccordion>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { dateFormat } from '~/helpers/dateformatter'
export default Vue.extend({
  props: {
    artwork: {
      type: Object,
    },
    artworks: {
      type: Array,
    },
    collection: {
      type: Number,
    },
  },

  computed: {
    author(): string {
      return this.artwork.author.username || this.artwork.author.wallet.address
    },
    created(): any {
      return dateFormat(this.artwork.author.created)
    },
    solscan(): string {
      return `https://solscan.io/token/${this.artwork.mintAddress}`
    },
  },
})
</script>

<style lang="scss" scoped>
.artwork-page {
  &__description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $white;
    margin: 20px 0;
    max-width: 780px;
  }

  &__info-grid {
    margin: 20px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &__info {
    background: $white;
    border-radius: 8px;
    border: 1px solid $black;
    padding: 15px;
    grid-column-start: 3;
    grid-column-end: 5;
    font-weight: 400;
    color: $black;

    &:first-child {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &-link {
      font-size: 15px;
      line-height: 22px;
      font-family: 'Poppins';
      color: $black;
      text-decoration: none;
      font-weight: 700;
      transition: ease color 0.3s;

      &:hover {
        color: $primary;
      }
    }
    &-value {
      font-size: 15px;
      line-height: 22px;
      font-family: 'Poppins';
      font-style: normal;

      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      mark {
        font-weight: 700;
        color: $black;
        background: none;
      }
    }
  }
  &__plug {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    & > img {
      max-width: 200px;
    }
  }
  &__desktop {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 30px;
    margin-top: 30px;
    align-items: start;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    flex-direction: column;
    padding: 25px 0;
    @media (max-width: $s) {
      display: flex;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
  }

  &__item {
    border: 1px solid #343444;
    border-radius: 8px;
    padding: 25px;
  }

  &__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  &__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: $white;
    padding-bottom: 25px;

    @media (max-width: $s) {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__right {
    overflow: hidden;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 40px;
    background-color: $background-second;
    padding: 7px 13px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    &.round {
      border-radius: 100%;
      padding: 9px;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: white;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__button {
    width: 240px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    background-color: $white;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    border-radius: 8px;

    &.dark {
      background-color: $background-second;
      color: $black;
    }
  }

  &__collection-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__profile-image {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: $secondary;
  }

  &__box-item {
    padding: 8px;
    border: 1px solid $black;
    border-radius: 16px;
    display: flex;
    gap: 8px;
    min-width: 255px;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__subtext {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $black;
  }

  &__name {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $black;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
