<template>
  <div class="artwork-activity" :class="{ load }">
    <div class="artwork-activity__body" v-if="activities.length">
      <div
        class="artwork-activity__row"
        v-for="item in activities"
        :key="item.id"
      >
        <div class="artwork-activity__item">
          <div class="artwork-activity__box">
            <p class="artwork-activity__title">{{ item.item.name }}</p>
          </div>
        </div>
        <div class="artwork-activity__item">
          <img
            loading="lazy"
            class="artwork-activity__image"
            :src="item.to.profileLogo"
          />
          <div class="artwork-activity__box">
            <p class="artwork-activity__title">{{ item.to.username }}</p>

            <p class="artwork-activity__text">
              {{ dateFormated(item.time).date }}
              {{ dateFormated(item.time).time }}
            </p>
          </div>
        </div>

        <div class="artwork-activity__item">
          <div class="artwork-activity__box">
            <p class="artwork-activity__title" v-if="item.type === 1">Minted</p>
            <p class="artwork-activity__title" v-if="item.type === 2">Buy</p>
          </div>
        </div>
        <div class="artwork-activity__item">
          <div class="artwork-activity__box" v-if="item.type === 2">
            <p class="artwork-activity__title">
              {{ item.price }} SOL = ${{ (item.price * course).toFixed(2) }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div v-if="activities.length == 0" class="artwork-activity__plug" :class="{ load }">
      <img src="/artwork-plug-3.png" />
      <p class="artwork-activity__plug-text">No item activity yet</p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { dateFormat } from '@/helpers/dateformatter'

declare interface BaseComponentData {
  activities: any[]
  load: boolean
}

export default Vue.extend({
  props: {
    artwork: {
      type: Object,
    },
    query: {
      type: String,
    },
  },
  data(): BaseComponentData {
    return {
      activities: [],
      load: true,
    }
  },
  mounted() {
    this.$axios
      .$get(`/nft/activities?${this.query}=${this.artwork.id}`)
      .then((res) => {
        this.activities = res.activities.filter(
          (item: any) => !item.item.isBlocked
        )
        this.load = false
      })
  },
  methods: {
    dateFormated(time: string) {
      return dateFormat(time)
    },
  },
  computed: {
    course(): number {
      return this.$store.state.course
    },
  },
})
</script>

<style lang="scss" scoped>
.artwork-activity {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    transition: ease opacity 0.3s;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    background-image: url('../../static/load.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
  &.load {
    &::before {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__row {
    display: flex;
    border: 1px solid rgb(229, 232, 235);
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    padding: 15px;
    border-radius: 6px;
    & + & {
      margin-top: 15px;
    }
  }

  &__body {
    @media (max-width: $m) {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    @media (max-width: $m) {
      min-width: 120px;

      &:nth-last-child(1) {
        min-width: 160px;
      }
    }
  }

  &__image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    background-color: $white-2;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }

  &__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: $primary;
  }

  &__circle {
    width: 36px;
    height: 36px;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }

  &__icon {
    fill: $white;
    width: 12px;
  }

  &__icon-send {
    width: 24px;
    height: 24px;
  }

  &__plug {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: all 1s ease;

    &.load {
      display: none;
    }

    & > img {
      max-width: 200px;
    }
  }
}
</style>
