<template>
  <div class="explore">
    <BaseSection title="Explore Collections" class="big">
      <Explore
        v-if="list"
        :list="list"
        :categories="categories"
        :hiddens="hidden"
        @togglePage="getCategory"
      />
      <Pagination
        v-if="pagination.total > 20"
        :paginationData="pagination"
        @togglePagination="changePage"
      />
    </BaseSection>
  </div>
</template>

<script>
export default {
  name: 'ExplorePage',
  data() {
    return {
      list: [],
      pagination: {}
    }
  },
  methods: {
    getCategory(value) {
      this.$router.replace(`${this.$route.path}?tab=${value}`)
      this.$axios
        .$get(
          `/collection${value && value !== 'all' ? '?categoryId=' + value : ''}`
        )
        .then((res) => {
          this.list = res.collections
          this.pagination = res
        })
    },
    changePage(page) {
      this.$axios
        .$get(
          `/collection?${this.$route.query.tab && this.$route.query.tab !== 'all'
            ? 'categoryId=' + this.$route.query.tab + '&page=' + page
            : '&page=' + page
          }`
        )
        .then((res) => {
          this.list = res.collections
          this.pagination = res
        })
    },
  },
  async asyncData({ $axios, route, $cookiz }) {
    const id = $cookiz.get('user_id')
    let hidden = []

    if (id) {
      hidden = await $axios.$get(`/account/hidden?userId=${id}`)
    }

    const list = await $axios.$get(
      `/collection${route.query.tab && route.query.tab !== 'all'
        ? '?categoryId=' + route.query.tab + (route.query.page ? '&page=' + route.query.page : '')
        : route.query.page ? '?page=' + route.query.page : ''
      }`
    )

    const categories = await $axios.$get(`/nft/categories`)

    return {
      list: list.collections,
      categories: categories.categories,
      hidden,
      pagination: list,
    }
  },
}
</script>
