<template>
  <button class="button">
    <slot />
  </button>
</template>

<style lang="scss" scoped>
.button {
  padding: 12px 20px;
  background: linear-gradient(92.51deg, #3461ff 3.3%, #8454eb 93.12%);
  box-shadow: 0px 13px 17px rgba(119, 87, 239, 0.2);
  border-radius: 56px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $white;

  &.bordered {
    border-radius: 56px;
    border: 2px solid #8454eb;
    background: none;
    box-shadow: none;
    transition: ease background-color 0.3s;

    &:hover {
      background-color: #8454eb;
    }
  }

  &.white {
    border-radius: 56px;
    border: 2px solid $white;
    background: none;
    box-shadow: none;
    transition: ease background-color 0.3s;
    flex-shrink: 0;

    a {
      color: $white;
    }

    &:hover {
      background-color: $white;
      color: #8454eb;
      a {
        color: #8454eb;
      }
    }
  }

  &.is-create {
    background: none;
    background-color: $white;
    border: 1px solid $black;
    color: #3e3e3e;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    border-radius: 8px;
    width: 320px;
    box-shadow: unset;
    transition: ease background-color 0.3s, ease color 0.3s;

    &:hover {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }
  }

  &.black {
    background: none;
    background-color: $background-second;
    color: $white-2;
  }

  &.adptive-width {
    @media (max-width: $s) {
      width: 100%;
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}
</style>
