<template>
  <div class="search" v-click-outside="hide">
    <div class="search__header" :class="{ open: focus }">
      <div class="search__icon">
        <svg-icon name="search" />
      </div>
      <input
        @input="search"
        type="text"
        placeholder="Search items and collections"
        class="search__input"
        v-model="value"
        @focus="focus = true"
        @blur="focus = false"
      />
    </div>
    <div class="search__popup" v-if="searchItems">
      <div class="search__item is-big" v-if="searchItems.collections.length">
        <p class="search__subtitle">Collections</p>
        <p class="search__subtitle">{{ searchItems.totalCollections }}</p>
      </div>
      <nuxt-link
        @click.native="hide"
        :to="'/collection/' + item.id"
        class="search__item"
        v-for="item in searchItems.collections"
        :key="item.id"
      >
        <img loading="lazy" class="search__image" :src="item.metadata.image" />
        <p class="search__name">{{ item.metadata.name }}</p>
      </nuxt-link>
      <div class="search__item is-big" v-if="searchItems.items.length">
        <p class="search__subtitle">NFTs</p>
        <p class="search__subtitle">{{ searchItems.totalItems }}</p>
      </div>
      <nuxt-link
        @click.native="hide"
        :to="'/artwork/' + item.id"
        class="search__item"
        v-for="item in searchItems.items"
        :key="item.id"
      >
        <img loading="lazy" class="search__image" :src="item.metadata.image" />
        <p class="search__name">{{ item.metadata.name }}</p>
      </nuxt-link>
      <div class="search__item is-big" v-if="searchItems.authors.length">
        <p class="search__subtitle">Authors</p>
        <p class="search__subtitle">{{ searchItems.totalAuthors }}</p>
      </div>
      <nuxt-link
        @click.native="hide"
        :to="'/artist/' + item.id"
        class="search__item"
        v-for="item in searchItems.authors"
        :key="item.id"
      >
        <img loading="lazy" class="search__image" :src="item.profileLogo" />
        <p class="search__name">{{ item.username }}</p>
      </nuxt-link>
      <div class="search__item is-big">
        <p class="search__subtitle">Please Enter to search all Artworks</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
// @ts-ignore
import ClickOutside from 'vue-click-outside'

declare interface BaseComponentData {
  value: string
  focus: boolean
  searchItems: any
}

export default Vue.extend({
  data(): BaseComponentData {
    return {
      value: '',
      focus: false,
      searchItems: null,
    }
  },
  methods: {
    hide() {
      this.value = ''
      this.searchItems = null
    },
    search() {
      this.$axios.$get(`/nft/search?search=${this.value}`).then((res) => {
        this.searchItems = res
      })
    },
  },
  directives: {
    ClickOutside,
  },
})
</script>

<style lang="scss" scoped>
.search {
  position: relative;

  &__header {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    min-width: 300px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
  }

  &__image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
  }

  &__icon {
    width: 13px;
    height: 13px;
  }

  &__input {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 10px;

    background: none;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 1);

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__popup {
    top: calc(100% + 22px);
    border-radius: 13px;
    position: absolute;
    width: 100%;
    min-width: 500px;
    background-color: $white;
    max-height: 500px;
    overflow-y: auto;
  }

  &__item {
    padding: 13px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: ease background-color 0.3s;
    text-decoration: none;

    & + & {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    &:hover {
      background-color: #8454eb;

      .search__name {
        color: $white;
      }
    }

    &.is-big {
      &:hover {
        background-color: $white;
      }
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 17px;
    color: $gray-2;
    font-family: 'Poppins';
  }

  &__name {
    font-size: 17px;
    color: $dark;
    transition: ease color 0.3s;
    font-weight: 400;
  }
}
</style>
