<template>
  <section class="section">
    <div class="section__header" v-if="title">
      <div class="container">
        <h2 class="section__title">{{ title }}</h2>
        <p class="section__description" v-if="description">{{ description }}</p>
      </div>
    </div>
    <div class="section__body" :class="{ mobilePadding: mobilePadding }">
      <div class="container" :class="{ mobilePadding: mobilePadding }">
        <slot />
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    title: String,
    description: String,
    mobilePadding: Boolean,
  },
})
</script>

<style lang="scss" scoped>
.section {
  &__header {
    margin: 80px 0;
    @media (max-width: $m) {
      margin: 50px 0;
    }
    @media (max-width: $s) {
      margin: 30px 0;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: $black;

    @media (max-width: $s) {
      font-weight: 700;
      font-size: 40px;
      line-height: 47px;
    }

    @media (max-width: $s) {
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__body {
    padding: 80px 0;
    @media (max-width: $s) {
      padding: 24px 0;
    }
    &.mobilePadding {
      @media (max-width: $m) {
        padding-bottom: 40px;
      }
      @media (max-width: $s) {
        padding-bottom: 0;
      }
    }
  }

  &__header + &__body {
    padding-top: 0;
  }

  &__description {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: $black;
    margin-top: 14px;
    @media (max-width: $s) {
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
    }
  }

  &.big {
    .container {
      max-width: 1464px;
    }
  }
}
</style>
