<template>
  <BaseSection>
    <div class="error">
      <div class="error__content" v-if="error.statusCode === 404">
        <img loading="lazy" class="error__image" src="/404.svg" alt="" />
        <p class="error__title">This page is lost.</p>
        <p class="error__description">
          We've explored deep and wide, but we can't find the page you were
          looking for.
        </p>
        <nuxt-link to="/">
          <BaseButton>Navigatie back home</BaseButton>
        </nuxt-link>
      </div>
      <div class="error__content" v-else>
        <img loading="lazy" class="error__image small" src="/oops.svg" alt="" />
        <p class="error__title">Oops!</p>
        <p class="error__description">
          Something’s gone wrong, but don’t worry we’re trying to fix it
        </p>
        <nuxt-link to="/">
          <BaseButton>Navigatie back home</BaseButton>
        </nuxt-link>
      </div>
    </div>
  </BaseSection>
</template>

<script>
export default {
  props: ['error'],
  layout: 'default',
}
</script>

<style lang="scss" scoped>
.error {
  padding-top: 180px;
  @media (max-width: $s) {
    padding-top: 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    max-width: 589px;
    width: 100%;

    &.small {
      max-width: 419px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    margin-top: 80px;
    margin-bottom: 40px;

    @media (max-width: $s) {
      font-size: 25px;
      line-height: 35px;
      margin: 18px 0;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #dddddd;
    margin-bottom: 40px;
    @media (max-width: $s) {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 18px;
    }
  }

  &__link {
    padding: 10px 28px;
    background: linear-gradient(214.02deg, #b75cff 6.04%, #5c00f2 92.95%);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    color: $white;
    text-decoration: none;

    @media (max-width: $s) {
      font-size: 15px;
      line-height: 28px;
      padding: 7px 17px;
    }
  }
}
</style>
