<template>
  <div class="page">
    <header class="page__header">
      <LayoutHeader />
    </header>
    <main class="page__main">
      <Nuxt />
    </main>
    <footer class="page__footer">
      <LayoutFooter />
    </footer>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
}
</script>

<style lang="scss" scoped>
.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $white;

  &__main {
    flex-grow: 1;
    position: relative;
    z-index: 1;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}
</style>
