<template>
  <div class="index">
    <BaseSection >
      <SliderMain />
    </BaseSection>
    <BaseSection v-if="false">
      <Main
        :currentCollection="currentCollection"
        :numbers="numbers"
        :artists="artists"
        :collections="collections"
      />
    </BaseSection>
    <BaseSection title="Latest collections">
      <SliderCollections
        :items="collections.collections.filter((item) => !item.isBlocked)"
      />
    </BaseSection>
    <BaseSection title="About" v-if="false">
      <About />
    </BaseSection>
    <BaseSection>
      <Partners />
    </BaseSection>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      collections: null,
      numbers: null,
      artists: null,
    }
  },
  computed: {
    currentCollection() {
      return this.collections.collections.find((el) => el.id == 1209)
    },
  },
  async asyncData({ $axios }) {
    const collections = await $axios.$get(`/collection`)
    const numbers = await $axios.$get(`/nft/count`)
    const artists = await $axios.$get(`/nft/creators`)

    return {
      collections,
      numbers,
      artists,
    }
  },
}
</script>
