<template>
  <div class="login">
    <AuthForm />
  </div>
</template>

<script>
export default {
  name: 'LoginPage',
}
</script>

<style lang="scss" scoped>
.login {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $m) {
    padding: 60px 16px;
  }
}
</style>
