<template>
  <BaseSection>
    <div class="settings-page">
      <SettingsHeader />
      <div class="settings-page__content">
        <p class="settings-page__headline">Offer Settings</p>
        <p class="settings-page__title thick">
          Set a minimum offer for collections to ignore low offers.
        </p>
        <div class="settings-page__container">
          <div
            class="settings-page__item"
            v-for="(item, index) in 6"
            :key="index"
          >
            <div class="settings-page__row">
              <img
                loading="lazy"
                class="settings-page__image"
                src="/settings-offers.jpg"
              />
              <div class="settings-page__item-flex">
                <p class="settings-page__item-text">1 Artwork</p>
                <p class="settings-page__item-title">Collection name</p>
                <p class="settings-page__item-text">Floor price: 0 ETH</p>
              </div>
            </div>
            <div class="settings-page__column">
              <div class="settings-page__input">
                <FormBaseInput placeholderText="0" />
              </div>
              <p class="settings-page__item-text">$ 00 USD</p>
            </div>
          </div>
        </div>
        <button class="settings-page__button">Save</button>
      </div>
    </div>
  </BaseSection>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      links: [
        {
          name: 'Link 1',
          value: '1',
        },
        {
          name: 'Link 2',
          value: '2',
        },
        {
          name: 'Link 3',
          value: '3',
        },
      ],
      previewSrc: this.src || null,
      type: null,
    }
  },
  methods: {
    uploadFile(file) {
      if (file.length) {
        this.type = file[0].type
        this.previewSrc = URL.createObjectURL(file[0])
        this.$emit('uploadFile', file[0])
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.settings-page {
  &__content {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: block;

    &.thick {
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      color: $secondary;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  &__button {
    border: 1px solid $white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 46px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: $white;
    transition: all 0.3s ease;

    &:hover {
      border: 1px solid $primary;
      color: $white;
      background-color: $primary;
    }
  }

  &__input {
    margin-bottom: 8px;
    position: relative;

    &:checked {
      + .settings-page__checkbox {
        background-color: $white;
        & .settings-page__check {
          opacity: 1;
        }
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 25px;

    @media (max-width: $s) {
      grid-template-columns: 1fr;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    border: 1px solid $background-second;
    border-radius: 8px;
    padding: 10px 30px;
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media (max-width: $s) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  &__check {
    margin-left: 1px;
    width: 11px;
    height: 11px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 2px;
  }

  &__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #c4c4c4;
  }

  &__image {
    width: 105px;
    height: 85px;
    border-radius: 8px;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__column {
    width: 168px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: $s) {
      width: 100%;
    }
  }
}
</style>
