<template>
  <BaseSection>
    <div class="settings-page">
      <SettingsHeader />
      <div class="settings-page__content">
        <p class="settings-page__headline">Support</p>
        <p class="settings-page__title thick">
          If you need help related to your account, we can help you.
        </p>
        <div class="settings-page__container">
          <div @click="alert">
            <div style="pointer-events: none">
              <Accordion title="General help"> </Accordion>
            </div>
          </div>
          <div @click="alert">
            <div style="pointer-events: none">
              <Accordion title="Contact NFTillion Support"> </Accordion>
            </div>
          </div>
          <div @click="alert">
            <div style="pointer-events: none">
              <Accordion title="Help with a compromised account"> </Accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </BaseSection>
</template>

<script>
export default {
  middleware: 'auth',
  methods: {
    alert() {
      alert('준비중 입니다')
    },
  },
}
</script>

<style lang="scss" scoped>
.settings-page {
  &__content {
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  &__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: block;

    &.thick {
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      color: $secondary;
    }
  }

  &__container {
    max-width: 526px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
</style>
