.create {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    transition: ease opacity 0.3s;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    background-image: url('../static/load.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
  &.load {
    &::before {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__error {
    color: #ce3a3a;
    font-size: 12px;
    margin-top: 10px;
    display: block;
  }

  &__headline {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;

    &.big {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
  }

  &__body {
    display: grid;
    grid-template-columns: 4fr 8fr;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-top: 56px;
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    width: 100%;
    gap: 30px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__box {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__section {
    &.flex {
      display: flex;
      gap: 20px;
    }
  }

  &__modal-icon {
    stroke: $white-2;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: bevel;
    width: 16px;
    height: 16px;
  }

  &__modal {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 12px;
    color: rgb(32, 129, 226);
    cursor: pointer;

    @media (max-width: $s) {
      width: 25px;
      height: 25px;
      padding: 0;
      border-radius: 4px;
      font-weight: 400;
    }
  }

  &__item-modal {
    &.is-properties {
      & + & {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $secondary;
      }
    }

    &.is-buttons {
      display: flex;
      align-items: center;
      gap: 20px;
      @media (max-width: $s) {
        justify-content: space-between;
      }
    }
  }

  &__selector {
    max-width: 400px;
    margin-top: 20px;
  }
}
