$black: #2c2a2a;
$white: #fff;
$white-2: #8a8aa0;
$gray: #626076;
$gray-2: #9c9c9c;
$dark: #000;
$primary: #5142fc;
$primary-2: #8454eb;
$secondary: #ebebeb;
$background-second: #343444;
$s: 860px;
$m: 1024px;
$l: 1440px;
