<template>
  <div class="artwork">
    <BaseSection>
      <ArtworkPage
        :artwork="artwork"
        :artworks="artworks"
        :collection="collection"
      />
    </BaseSection>
  </div>
</template>

<script>
export default {
  async asyncData({ route, $axios }) {
    const artwork = await $axios.$get(`/nft/item/${route.params.id}`)
    const artworks = await $axios.$get(
      `/nft/items?collection=${artwork.collection.id}&take=3`
    )
    const collection = artwork.collection.id

    return { artwork, artworks: artworks.items, collection }
  },
}
</script>
